@layer default, navigation, components;

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Colors for theme */
  --primary: rgb(13, 148, 136);
  --text: #010101;
  --text-white: #ededed;
  --error: pink;
  --bg: #ffffff;
  --text-light: #585858;
  --text-badge: var(--text-white);
  --border: #dddddd;
  --accent: #3b82f6;
  --accent-hover: rgb(from var(--accent) r g b / 0.6);
  --accent-text: #ededed;
  --disabled: #efefef;
  --cancel: var(--disabled);

  /* Standard thematic */
  --standard-border-radius: 5px;
  --standard-drop-shadow: drop-shadow(1px 1px 2px var(--border));

  /* CMC-specific colors */
  --cmc-highlight: #d97706;
  --cmc-color-discord: rgb(79, 70, 229);
  --cmc-color-committee: rgb(192, 132, 252);
  --cmc-color-coordinator: #d97706;
  --cmc-color-member: #3b82f6;
  --cmc-color-guest: #16a34a;
  --cmc-color-summer-day-walk: #65a30d;
  --cmc-color-summer-weekend: #15803d;
  --cmc-color-winter-day-walk: #3b82f6;
  --cmc-color-winter-weekend: #1d4ed8;
  --cmc-color-indoor-climbing: #c084fc;
  --cmc-color-outdoor-climbing: #9333ea;
  --cmc-color-run: #eab308;
  --cmc-color-social: #ec4899;
  --cmc-color-other: #f472b6;
}

@layer default {
  /* Set border-box for whole doc */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }

  body {
    color: var(--text);
    background-color: var(--bg);
    font-size: 1rem;
    line-height: 1.5;

    /* Make the body centered, using 3-col grid */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    margin: 0;
    width: 100vw;

    /* Center all content */
    > :not(header, aside) {
      grid-column: 2;
    }

    /* Except the header */
    > header {
      grid-column: 1 / -1;
    }

    /* And any non-header nav as a sidebar */
    > aside:has(nav) {
      grid-column: 1;
    }
  }

  body > header {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 0.5rem;
  }

  /* Headings */
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  h3 {
    font-size: large;
  }

  h4 {
    font-size: medium;
  }

  h5 {
    font-size: small;
  }

  h6 {
    font-size: x-small;
  }

  p {
    margin: 1.5rem 0;
    text-align: justify;
  }

  /* Prevent long strings from overflowing container */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    margin: 0.5em 0;
  }

  /* Links and buttons */
  a,
  a:visited {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.1s ease-in;

    &:hover {
      text-decoration: underline;
    }

    &:has(article) {
      color: inherit;

      &:hover {
        text-decoration: none;
        filter: brightness(90%);
      }
    }
  }

  /* Reset for navigation */
  nav {
    line-height: normal;

    ul,
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul li,
    ol li,
    a {
      display: inline-block;
    }

    a:not(.button),
    a:visited:not(.button) {
      color: inherit;
    }
  }

  /* Buttons */
  button,
  .button,
  a.button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    /* Reset */
    display: inline-block;
    text-decoration: none;
    box-shadow: none;
    line-height: normal;
    font-size: inherit;
    font-family: inherit;

    /* Basic styling */
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: var(--accent-text);
    padding: 0.5rem;
    border-radius: var(--standard-border-radius);
    transition: all 0.1s ease-in;
    cursor: pointer;

    /* Hover */
    &:enabled:hover,
    &:not([disabled]):hover,
    &:not([aria-disabled="true"]):hover {
      background-color: var(--accent-hover);
      border-color: var(--accent-hover);
    }

    /* Icon buttons */
    &:has(svg) {
      padding: 0.25rem;
      display: inline-flex;
      align-items: center;
      > svg {
        width: 1em;
        height: 1em;
      }
    }
  }

  /* Disabled */
  input[aria-disabled="true"],
  input:disabled,
  input[disabled] {
    pointer-events: none;
    border-color: var(--disabled);
    color: var(--text-light);
    background-color: var(--bg);
  }
  .button:focus-visible,
  button:focus-visible:where(:enabled),
  input:enabled:focus-visible:where(
      [type="submit"],
      [type="reset"],
      [type="button"]
    ) {
    outline: 2px solid var(--accent);
    outline-offset: 1px;
  }

  /* Text inputs */
  textarea,
  select,
  input:not(
      [type="submit"],
      [type="reset"],
      [type="button"],
      [type="checkbox"]
    ) {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    box-shadow: none;

    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: var(--standard-border-radius);
    max-width: 100%;

    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--border);

    &:user-invalid {
      border: 1px solid var(--error);
    }
  }

  textarea:not([cols]) {
    width: 100%;
    height: 20em;
  }

  input[type="search"] {
    width: 100%;
  }

  /* Custom Checkbox */
  input[type="checkbox"] {
    display: inline-flex;
    align-items: center;
    appearance: none;

    &::after {
      display: inline-block;
      content: "";
      width: 1.5em;
      height: 1.5em;
      /* BI - toggle-off */
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktdG9nZ2xlLW9mZiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMTEgNGE0IDQgMCAwIDEgMCA4SDhhNSA1IDAgMCAwIDItNCA1IDUgMCAwIDAtMi00em0tNiA4YTQgNCAwIDEgMSAwLTggNCA0IDAgMCAxIDAgOE0wIDhhNSA1IDAgMCAwIDUgNWg2YTUgNSAwIDAgMCAwLTEwSDVhNSA1IDAgMCAwLTUgNSIvPgo8L3N2Zz4=");
      background-size: cover;
      cursor: pointer;
    }

    &:checked::after {
      /* BI - toggle-on */
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktdG9nZ2xlLW9uIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik01IDNhNSA1IDAgMCAwIDAgMTBoNmE1IDUgMCAwIDAgMC0xMHptNiA5YTQgNCAwIDEgMSAwLTggNCA0IDAgMCAxIDAgOCIvPgo8L3N2Zz4=");
    }
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 0;
    border: 0;
    padding: 0;
  }

  /* Style naked labels in a grid setting */
  /* This styles label -> text, (small), input */
  label:has(> input, > select) {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr;

    &:has(small) {
      grid-template-rows: 1fr 1fr;
    }

    > input,
    > select {
      grid-row: 1 / -1;
    }

    &:has(input[disabled], select[disabled]) {
      opacity: 50%;
    }
  }

  /* Other elements */
  section {
    margin: 0 0 1rem 0;
  }

  mark {
    outline: 1px solid var(--primary);
    background-color: inherit;
    font-weight: 500;
    padding: 0.15em 0.35em;
    border-radius: var(--standard-border-radius);
  }

  small {
    color: var(--text-light);
  }

  [role="alert"] {
    background-color: var(--error);
    border-radius: var(--standard-border-radius);
    padding: 0.5em;
  }

  [role="status"] {
    background-color: var(--primary);
    color: var(--text-white);
    border-radius: var(--standard-border-radius);
    padding: 0.5em;
  }

  details {
    display: block;
    > summary {
      cursor: pointer;
    }
  }

  img {
    display: block;
    max-width: 100%;
    object-fit: contain;
  }

  /* Basic styling for dialogs */
  dialog {
    border: 0;
    outline: 0;
    padding: 1rem;
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--border);
    background-color: var(--bg);
    filter: drop-shadow(1px 1px 2px var(--border));

    &::backdrop {
      backdrop-filter: blur(5px);
    }
  }

  /* Tooltips */
  [data-tooltip]:hover::after {
    transform: translate(1em, -1.5em);
    position: absolute;
    content: attr(data-tooltip);
    font-size: small;
    background-color: var(--accent);
    color: var(--accent-text);
    opacity: 75%;
    padding: 0.125rem;
    border-radius: var(--standard-border-radius);
  }
}

@layer navigation {
  /* Main nav */
  body > header > nav {
    width: 100vw;
    display: flex;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
    gap: 0.5rem;
    padding: 0.5rem;
    @media (max-width: 800px) {
      flex-direction: column;

      /* Handle expanding the hamburger */
      /* We set the height manually here, may be a better way to do this */
      max-height: 2.5rem;
      transition: max-height ease-in-out 0.2s;
      overflow: hidden;
      &[data-expanded="true"] {
        max-height: 50rem;
        #nav-hamburger {
          background-color: white;
          color: var(--text-light);
        }
      }
    }

    h1 {
      font-size: 1.25em;
      letter-spacing: -0.025em;
      margin: 0;
    }

    #nav-hamburger {
      display: none;
    }
    @media (max-width: 800px) {
      #nav-hamburger {
        display: inherit;
      }

      ul li {
        width: 100%;
      }

      li:has(#nav-hamburger) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    ul,
    ol {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      @media (max-width: 800px) {
        width: 100%;
        flex-direction: column;
      }
    }

    aside {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-left: auto;
      @media (max-width: 800px) {
        margin-left: unset;
        flex-direction: column;
      }
    }
  }

  /* Sidebar */
  aside > nav {
    padding: 0 1rem;
    white-space: nowrap;

    :is(a, a:visited) {
      color: var(--primary);
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
    }

    li {
      margin: 0.25rem 0;
    }

    ul ul,
    ol ol {
      border-left: 1px solid rgb(from var(--primary) r g b / 0.5);
      padding-left: 1rem;
    }

    #sidebar-hamburger {
      display: none;
    }

    /* Style active links for final layer only */
    ul:not(:has(ul)) :is(a, a:visited)[aria-selected="true"] {
      text-decoration: underline;
    }
  }

  @media (max-width: 800px) {
    aside {
      > nav {
        position: fixed;
        bottom: 1.8rem;
        right: 1.5rem;
        z-index: 99;
        text-align: right;

        > ul {
          text-align: left;
          visibility: hidden;
          transition: all ease-in-out 0.1s;
          padding: 1em;
          border-radius: var(--standard-border-radius);
          filter: drop-shadow(1px 1px 2px var(--border));
        }

        opacity: 0.8;
        &[data-expanded="true"] {
          opacity: 1;
          > ul {
            visibility: visible;
            margin-right: 1rem;
            background-color: white;
            font-size: 1.2rem;
          }
        }

        #sidebar-hamburger {
          display: inline-block;
          margin-left: auto;
          background-color: var(--primary);
          padding: 0.5rem;
          border-radius: 100rem;
          > svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }

  /* CMC Logo */
  .cmc-logo::before {
    display: inline-block;
    content: "a";
    width: 3rem;
    color: transparent;
    margin-right: 0.25rem;
    background-image: url("../logo_256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@layer components {
  /* Utility classes */
  .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .flex-gap-small {
    gap: 0.125rem;
  }

  .btn-secondary {
    background-color: var(--primary);
  }

  .btn-cancel {
    background-color: var(--bg);
    color: var(--accent);
  }

  .w-full {
    width: 100%;
  }

  .drop-shadow {
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--border);
    background-color: var(--bg);
    filter: drop-shadow(1px 1px 2px var(--border));
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;

    /** Nice outline **/
    border-radius: var(--standard-border-radius);
    background-color: var(--bg);
    filter: drop-shadow(1px 1px 2px var(--border));
  }

  /* Badges */
  .badge {
    display: inline-block;
    background-color: var(--cmc-highlight);
    border-radius: var(--standard-border-radius);
    white-space: nowrap;
    padding: 0.25em 0.5em;
    text-align: center;
    color: var(--text-badge);
  }
  .color-committee {
    --cmc-highlight: var(--cmc-color-committee);
  }
  .color-coordinator {
    --cmc-highlight: var(--cmc-color-coordinator);
  }
  .color-member {
    --cmc-highlight: var(--cmc-color-member);
  }
  .color-guest {
    --cmc-highlight: var(--cmc-color-guest);
  }
  .color-summer-day-walk {
    --cmc-highlight: var(--cmc-color-summer-day-walk);
  }
  .color-summer-weekend {
    --cmc-highlight: var(--cmc-color-summer-weekend);
  }
  .color-winter-day-walk {
    --cmc-highlight: var(--cmc-color-winter-day-walk);
  }
  .color-winter-weekend {
    --cmc-highlight: var(--cmc-color-winter-weekend);
  }
  .color-indoor-climbing {
    --cmc-highlight: var(--cmc-color-indoor-climbing);
  }
  .color-outdoor-climbing {
    --cmc-highlight: var(--cmc-color-outdoor-climbing);
  }
  .color-running {
    --cmc-highlight: var(--cmc-color-run);
  }
  .color-members-only {
    --cmc-highlight: var(--cmc-color-member);
  }
  .color-social {
    --cmc-highlight: var(--cmc-color-social);
  }
  .color-discord {
    --cmc-highlight: var(--cmc-color-discord);
  }

  .markdown-preview {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.25rem;
    max-height: 30rem;
    border-left: 1px solid var(--primary);
    overflow: auto;
  }

  .admin {
    --primary: var(--cmc-color-committee);
    --accent: var(--cmc-color-committee);
    --accent-hover: rgb(from var(--accent) r g b / 0.6);
    --text: var(--cmc-color-committee);

    /* Make sure we set color for these elements */
    &:is(span, label, small),
    :is(span, label, small) {
      color: var(--text);
    }

    &:is(mark) {
      border-color: var(--cmc-color-committee);
    }

    &:is(details) {
      color: var(--cmc-color-committee);

      &:has(.admin-panel) {
        position: relative;

        > .admin-panel {
          /* Set popover position */
          position: absolute;
          top: 2em;
          left: 1em;
          padding: 1rem;

          /* A nice background */
          background-color: white;
          border-radius: var(--standard-border-radius);
          filter: var(--standard-drop-shadow);

          /* Sort out a nice display */
          display: grid;
          grid-template-columns: max-content;
          place-items: center stretch;
          gap: 0.25rem;

          > form {
            display: contents;
          }
        }
      }
    }
  }

  details.admin {
    position: relative;

    summary {
      font-weight: bold;
    }
  }

  /* Profile pictures maintain aspect */
  .profile-picture {
    display: inline-block;
    margin: 0;
    aspect-ratio: 1;
    border-radius: var(--standard-border-radius);
  }

  .event {
    padding: 1em;
    margin: 2em 0 2em 0;

    &.event-past {
      opacity: 50%;
    }

    header {
      padding-bottom: 0.25em;
      h1 {
        letter-spacing: -0.04em;
        margin: 0 0 0.25em 0;
        font-size: x-large;
        color: var(--primary);

        a {
          color: inherit;
        }
      }
      .badge {
        margin-right: 0.25em;
      }
      p {
        /* Calendar icon before (BI) */
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-calendar' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
        }
        font-weight: 500;
        margin: 0;
        padding-top: 0.5rem;
        display: block;
      }

      .admin {
        margin-left: auto;
      }
    }

    .event-description {
      margin-bottom: 1em;

      /* This is set low, but max-height is controlled by javascript */
      cursor: pointer;
      max-height: 15em;
      transition: max-height ease-in-out 0.2s;
      overflow: clip;

      &[data-expanded="true"] {
        max-height: 500em;
      }

      /* Set up the fade if not expanded */
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(
        to bottom,
        var(--text) 0%,
        #cccccc 15em
      );
      &[data-expanded="true"] {
        background-image: none;
        background-color: var(--text);
      }
    }

    details.attendees {
      margin-bottom: 1em;
      summary {
        display: block;
        font-weight: 500;
        font-size: 1em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    details[open] .attendees-summary {
      display: none;
    }

    a {
      align-self: flex-start;
    }

    .attendee-name {
      color: var(--cmc-highlight);
    }
  }

  #selectedEvent {
    width: 75vw;

    .event-description {
      cursor: auto;
      max-height: none;
      background-image: none;
      background-color: var(--text);
    }
  }

  .event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px gray solid;
    border-top: 8px gray solid;
    border-radius: 5px;
    padding: 0.25em 0.5em;

    > span {
      font-size: medium;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
    > span:nth-child(2) {
      font-size: xx-large;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }

  .calendar-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .events-calendar {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: center;
    }

    td.events-calendar-day {
      height: 5em;
      vertical-align: top;

      &.not-month {
        opacity: 70%;
      }

      &.is-today {
        border-radius: var(--standard-border-radius);
        border: 1px solid var(--primary);
      }

      > h4 {
        margin: 0;
        text-align: right;
        font-weight: 400;
      }
    }

    tbody > tr:nth-child(odd) {
      background-color: rgb(250, 250, 250);
    }

    .calendar-event {
      background-color: var(--cmc-highlight);
      color: var(--text-white);
      padding: 0.375rem;
      margin: 0 0.125rem 0.125rem 0.125rem;
      border-radius: var(--standard-border-radius);
      font-size: small;

      > span:first-child {
        font-weight: bold;
      }
    }
  }

  label.event-filter {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    background-color: var(--cmc-highlight);
    border-radius: var(--standard-border-radius);
    padding: 0.25em 0.5em;
    text-align: center;
    color: var(--text-badge);

    opacity: 75%;
    &:has(input:checked) {
      opacity: 100%;
    }
  }

  .album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    overflow: hidden;

    > hgroup {
      > h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0.125rem 0;
      }

      min-width: max-content;
    }

    /* Sample images */
    > div {
      display: flex;
      align-items: center;
      gap: 0.125rem;
      flex: none;
      overflow: hidden;
      img {
        flex: none;
        width: 5rem;
        border-radius: var(--standard-border-radius);
      }
    }
  }

  #gallery {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    margin: 1rem auto;

    > a:has(> img) {
      display: block;
      flex: 1 1 auto;
      height: 160px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }

    #highlighted {
      height: 90vh;
      width: 90vw;
    }

    #highlighted > div {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      > #controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      img {
        height: 75vh;
        max-width: 100%;
        object-fit: contain;
        flex: none;
      }
    }
  }

  #committee-activity {
    ol {
      list-style: none;
      margin: 0;
      padding: 0 0 0 1rem;
      border-left: 1px solid var(--primary);
      li {
        > span:first-child {
          color: var(--text-light);
        }
      }
    }
  }
}
