{% extends "base.html.j2" %}
{% block content %}
  <h1>Forgot Password</h1>
  <p>If you've forgotten your password, we can send a new one to your email on file. Just enter your email below.</p>
  <form method="post">
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <input type="submit" value="Reset Password" />
  </form>
  {% if was_reset %}<em>If your email is on file, we've reset your password.</em>{% endif %}
{% endblock content %}
