{% extends "base.html.j2" %}
{% block content %}
  <h1>Forgot Password</h1>
  {% if was_reset %}
    <p role="status">If your email is on file, we've sent instructions for how to reset to your email.</p>
  {% endif %}
  <p>If you've forgotten your password, we can send a new one to your email on file. Just enter your email below.</p>
  <form method="post">
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <input type="submit" value="Reset Password" />
  </form>
{% endblock content %}
