{% extends "base.html.j2" %}
{% block content %}
  <h1>Login</h1>
  {% if error %}<strong class="error">{{ error }}</strong>{% endif %}
  <form method="post" action="{{ url_for('auth.login') }}">
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <label>
      Password
      <input type="password" name="password" />
    </label>
    <input type="submit" value="Login" />
  </form>
  <div class="flex">
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.forgot_password') }}">Forgot Password</a>
  </div>
{% endblock content %}
