{% extends "base.html.j2" %}
{% block content %}
  <h1>Login</h1>
  {% if error %}<strong role="alert">{{ error }}</strong>{% endif %}
  {# djlint:off H021 #}
  <div role="status" style="text-align: center;">
    {# djlint:on #}
    <p>Our website was upgraded in January 2025.</p>
    <p>
      If you have an account and only ever logged in via email, <strong>you will need to create a password.</strong>
    </p>
    <a class="button" href="{{ url_for('auth.forgot_password') }}">Request a new password here</a>
  </div>
  <form method="post" action="{{ url_for('auth.login') }}">
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <label>
      Password
      <input type="password" name="password" />
    </label>
    <input type="submit" value="Login" />
  </form>
  <a href="{{ url_for('auth.forgot_password') }}">Forgot Password</a>
  <h1>Register</h1>
  <p>
    Anyone can register to see all events we have upcoming. Once you register, you will have access to our internal site and be
    able to join our Discord, and view more details of our upcoming events. You are welcome to come along to an event to see if
    you like the club before becoming a member. You have a three month trial period to try up to four events, to see if the club is for you.
  </p>
  <a class="button" href="{{ url_for('auth.register') }}">Register</a>
{% endblock content %}
