{% extends "base.html.j2" %}
{% block content %}
  <h1>Register</h1>
  {% if error %}<strong role="alert">{{ error }}</strong>{% endif %}
  {% if success %}
    <p>Your registration was successful! Redirecting to login...</p>
    <a href="{{ url_for('auth.login') }}"
       hx-get="{{ url_for('auth.login') }}"
       hx-trigger="load delay:3s"
       hx-push-url="true"
       hx-target="body">Redirect manually...</a>
  {% else %}
    {% set form = form if form else {} %}
    <form method="post">
      <label>
        Email
        <input type="email"
               name='email'
               required
               value="{{ form.get('email', '') }}" />
      </label>
      <label>
        Password
        <input type="password" name='password' required />
      </label>
      <label>
        Confirm Password
        <input type="password"
               name='confirm_password'
               required
               onchange="this.value === this.form.elements['password'].value ? this.setCustomValidity('') : this.setCustomValidity('Passwords do not match!')" />
      </label>
      <label>
        First Name
        <input type="text"
               name='first_name'
               required
               value="{{ form.get('first_name', '') }}" />
      </label>
      <label>
        Last Name
        <input type="text"
               name='last_name'
               required
               value="{{ form.get('last_name', '') }}" />
      </label>
      <label>
        About You
        <small>(This will be visible on your profile on the club site)</small>
        <textarea name='about'
                  placeholder="Write a bit about yourself and your experience if you like...">{{ form.get('about', '') }}</textarea>
      </label>
      <label>
        I agree with the usage of my data in accordance with the <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        <input type="checkbox" required />
      </label>
      <label>
        What is the tallest mountain in Scotland?
	<small>(To deter bots)</small>
        <input type="text"
               name='bot_question'
               required
               value="" />
      </label>
      <input type="submit" value="Register" />
    </form>
  {% endif %}
{% endblock content %}
