{% extends "albums/base.html.j2" %}
{% block content %}
  <header>
    <a href="{{ url_for('.albums') }}">Photos</a> > {{ album.name }}
  </header>
  <details>
    <summary>Upload Photos</summary>
    <form id="upload"
          hx-on::after-request="this.reset()"
          method="post"
          enctype="multipart/form-data"
          action="{{ url_for('.album', id=album.id) }}"
          hx-post="{{ url_for('.album', id=album.id) }}"
          hx-target="#gallery"
          hx-swap="beforeend">
      <input type="file" name="photos" accept='image/*' multiple />
      <progress id="progress" value="0" max="100"></progress>
      <input type="submit" value="Upload" />
    </form>
    <script>
        htmx.on('#upload', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
  </details>
  <dialog id="photo">
    <a _=" on click call #photo.close()"
       hx-push-url="true"
       hx-swap="none"
       hx-get="{{ url_for('.album', id=album.id) }}">< return to album</a>
    <div id="highlighted-photo"
         hx-target="this"
         _="on htmx:afterSettle call #photo.showModal()"></div>
  </dialog>
  <section id="gallery">
    {% include "albums/album._gallery.html.j2" %}
  </section>
{% endblock content %}
