{% extends "albums/base.html.j2" %}
{% block content %}
  <header>
    <a href="{{ url_for('.albums') }}">Photos</a> > {{ album.name }}
  </header>
  <details>
    <summary>Upload Photos</summary>
    <form id="upload"
          method="post"
          enctype="multipart/form-data"
          action="{{ url_for('.album', id=album.id) }}"
          hx-post="{{ url_for('.album', id=album.id) }}"
          hx-select="#upload">
      <input type="file" name="photos" accept='image/*' multiple />
      <input type="submit" value="Upload" />
      <progress id="progress" value="0" max="100"></progress>
    </form>
    <script>
        htmx.on('#upload', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
  </details>
  <section id="gallery" hx-target="#highlighted">
    {# hide duplicate attribute and image width/height/alt warnings #}
    {# djlint:off H006,H037,H013 #}
    {% for photo in photos %}
      <a href="{{ url_for('.album_photo', album_id=album.id, photo_id=photo.id) }}">
        <img height="160"
             width="300"
             src="{{ url_for('static', filename=photo.photo_path) }}"
             loading="lazy" />
      </a>
    {% endfor %}
  </section>
{% endblock content %}
