{% from "platform/macros/profile.html.j2" import profile_picture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clyde Mountaineering Club</title>
    <meta name="description"
          content="A Glasgow mountaineering and hiking club aimed at younger people in their 20s and 30s">
    <meta name="author" content="Clyde Mountaineering Club">
    <meta name="keywords" content="mountaineering, glasgow">
    {# <link rel="shortcut icon"
       href="{{ url_for('static', filename='favicon.ico') }}"> #}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}?v=1.0" />
    {% block stylesheets %}
    {% endblock stylesheets %}
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  </head>
  <body hx-ext="preload">
    <header>
      <nav id="main-nav" data-expanded="false">
        <ul preload>
          <li>
            <a href="{{ url_for('index') }}">
              <h1 class="cmc-logo">Clyde Mountaineering Club</h1>
            </a>
            <button id="nav-hamburger"
                    onclick="document.getElementById('main-nav').dataset.expanded = document.getElementById('main-nav').dataset.expanded === 'true' ? 'false' : 'true' ">
              {# BI - List #}
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
              </svg>
            </button>
          </li>
          <li>
            <a href="{{ url_for('faqs') }}">FAQs</a>
          </li>
          <li>
            <a href="#">Committee</a>
          </li>
          <li>
            <a href="{{ url_for('platform.home') }}">Members Area</a>
          </li>
        </ul>
        <aside>
          {% if 'current_user' in g %}
            <a href="{{ url_for('platform.members.member', slug=g.current_user.slug) }}"
               class="flex">
              <span>{{ g.current_user.full_name }}</span>
              {{ profile_picture(g.current_user, '32') }}
            </a>
            <form method="post" action="{{ url_for('auth.logout') }}">
              <input type="submit" value="Logout" />
            </form>
          {% else %}
            <a class="button" href="{{ url_for('auth.login') }}">Login / Register</a>
          {% endif %}
        </aside>
      </nav>
    </header>
    <aside>
      {% block sidebar %}
      {% endblock sidebar %}
    </aside>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <h3>Clyde Mountaineering Club</h3>
      <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
      <a href="https://docs.google.com/document/d/12y7KK8AHyI9p4zL7Bg-mnh6KbiG5zKf1FIBVHhyxZds/edit?usp=sharing">Constitution</a>
    </footer>
  </body>
</html>
