{% from "macros/bi.html.j2" import bi_list %}
{% from "macros/profile.html.j2" import profile_picture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clyde Mountaineering Club</title>
    <meta name="description"
          content="A Glasgow mountaineering and hiking club aimed at younger people in their 20s and 30s">
    <meta name="author" content="Clyde Mountaineering Club">
    <meta name="keywords" content="mountaineering, glasgow">
    {# <link rel="shortcut icon"
       href="{{ url_for('static', filename='favicon.ico') }}"> #}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}?v=1.0" />
    {% block stylesheets %}
    {% endblock stylesheets %}
    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
  </head>
  <body hx-ext="preload">
    <header>
      <nav id="main-nav" data-expanded="false">
        <ul preload>
          <li>
            <a href="{{ url_for('index') }}">
              <h1 class="cmc-logo">Clyde Mountaineering Club</h1>
            </a>
            <button id="nav-hamburger"
                    onclick="document.getElementById('main-nav').dataset.expanded = document.getElementById('main-nav').dataset.expanded === 'true' ? 'false' : 'true' ">
              {{ bi_list() }}
            </button>
          </li>
          <li>
            <a href="{{ url_for('faqs') }}">FAQs</a>
          </li>
          <li>
            <a href="{{ url_for('committee_bios') }}">Committee</a>
          </li>
          <li>
            <a href="{{ url_for('platform.home') }}">Members Area</a>
          </li>
        </ul>
        <aside>
          {% if 'current_user' in g %}
            <a href="{{ url_for('platform.members.member', slug=g.current_user.slug) }}"
               class="flex">
              <span>{{ g.current_user.full_name }}</span>
              {{ profile_picture(g.current_user, '32') }}
            </a>
            <form method="post" action="{{ url_for('auth.logout') }}">
              <input type="submit" value="Logout" />
            </form>
          {% else %}
            <a class="button" href="{{ url_for('auth.login') }}">Login / Register</a>
          {% endif %}
        </aside>
      </nav>
    </header>
    <aside>
      {% block sidebar %}
      {% endblock sidebar %}
    </aside>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <h3>Clyde Mountaineering Club</h3>
      <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
      <a href="https://docs.google.com/document/d/12y7KK8AHyI9p4zL7Bg-mnh6KbiG5zKf1FIBVHhyxZds/edit?usp=sharing">Constitution</a>
    </footer>
  </body>
</html>
