<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clyde Mountaineering Club</title>
    <meta name="description"
          content="A Glasgow mountaineering and hiking club aimed at younger people in their 20s and 30s">
    <meta name="author" content="Clyde Mountaineering Club">
    <meta name="keywords" content="mountaineering, glasgow">
    {# <link rel="shortcut icon"
       href="{{ url_for('static', filename='favicon.ico') }}"> #}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}?v=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-preload@2.1.0/preload.js"></script>
  </head>
  <body hx-ext="preload">
    <header>
      <h1>Clyde Mountaineering Club</h1>
      <nav>
        <ul preload>
          <li>
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li>
            <a href="#">FAQs</a>
          </li>
          <li>
            <a href="#">Committee</a>
          </li>
          <li>
            <a href="{{ url_for('platform.home') }}">Members Area</a>
          </li>
        </ul>
      </nav>
      {% if 'current_user' in g %}
        <aside>
          <a href="{{ url_for('platform.member', slug=g.current_user.slug) }}">{{ g.current_user.full_name }}</a>
          <form method="post" action="{{ url_for('logout') }}">
            <input type="submit" value="Logout" />
          </form>
        </aside>
      {% endif %}
    </header>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
