{% extends "base.html.j2" %}
{% from "_forms.html.j2" import user_form %}
{% block content %}
  <section>
    <h1>Register</h1>
    {{ user_form('post', url_for('register') , 'Register') }}
    {% if error %}<strong>{{ error }}</strong>{% endif %}
  </section>
{% endblock content %}
