{% extends "committee/base.html.j2" %}
{% block platform %}
  <h1>Committee</h1>
  <section>
    <h2>Member Statistics</h2>
    {% for membership_expiry, num_members in member_stats.items() %}
      {% if membership_expiry %}
        <p>{{ num_members }} paid members (ending {{ membership_expiry.strftime("%Y-%m-%d") }})</p>
      {% else %}
        <p>{{ num_members }} users in trial period</p>
      {% endif %}
    {% endfor %}
  </section>
  <section id="dormant-users">
    <h2>Dormant Users</h2>
    <p>
      This shows non-member users who either joined more than 3 months ago and have not become a member,
      or have let their membership expire for longer than 3 months. Note we only started monitoring login in 2024, and activity in 2023.
    </p>
    <p>
      <strong>Found {{ dormant_users | length }} inactive users!</strong>
    </p>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Login</th>
          <th scope="col">Last Activity</th>
          <th scope="col">Membership Expiry</th>
          <th scope="col">Account Created</th>
          <th scope="col">Discord Name</th>
          <th scope="col">Make Inactive</th>
        </tr>
      </thead>
      <tbody>
        {% for dormant in dormant_users %}
          <tr>
            <td>{{ dormant.user.full_name }}</td>
            <td>{{ dormant.user.last_login_utc.strftime("%b %d, %Y") if dormant.user.last_login_utc else 'Pre-2024' }}</td>
            <td>{{ dormant.last_activity.strftime("%b %d, %Y") if dormant.last_activity else 'Pre-2023' }}</td>
            <td>{{ dormant.user.membership_expiry if dormant.user.membership_expiry }}</td>
            <td>{{ dormant.user.created_on_utc.strftime("%b %d, %Y") }}</td>
            <td>{{ dormant.discord_name if dormant.discord_name }}</td>
            <td>
              <form method="post"
                    action="{{ url_for('.member_dormant', user_id=dormant.user.id) }}">
                <input type="submit" value="Deactivate" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section id="committee-activity">
    <h2>Activity</h2>
    <ol>
      {% for act in activities[:num_activities] %}
        {% set user = user_map[act.user_id] %}
        {% set event = event_map[act.event_id] %}
        <li>
          <span>{{ act.dt.strftime("%d %b %H:%M") }}</span>
          <b>{{ user.full_name }}</b>
          {{ act.action }}
          <a href="{{ url_for('platform.event', id=event.id) }}">{{ event.title }} ({{ event.event_dt.strftime("%b %d") }})</a>
        </li>
      {% endfor %}
    </ol>
    <form>
      <input type="hidden"
             name="num_activities"
             value="{{ num_activities + 100 }}" />
      <input type="submit" value="Show more" />
    </form>
  </section>
{% endblock platform %}
