{% extends "committee/base.html.j2" %}
{% block content %}
  <h1>Committee</h1>
  <section>
    <h2>Member Statistics</h2>
    {% for membership_expiry, num_members in member_stats.items() %}
      {% if membership_expiry %}
        <p>{{ num_members }} paid members (ending {{ membership_expiry.strftime("%Y-%m-%d") }})</p>
      {% else %}
        <p>{{ num_members }} users in trial period</p>
      {% endif %}
    {% endfor %}
  </section>
  <section id="committee-activity">
    <h2>Activity</h2>
    <ol>
      {% for act in activities[:num_activities] %}
        {% set user = user_map[act.user_id] %}
        {% set event = event_map[act.event_id] %}
        <li>
          <span>{{ act.dt.strftime("%d %b %H:%M") }}</span>
          <b>{{ user.full_name }}</b>
          {{ act.action }}
          <a href="{{ url_for('platform.events.event', id=event.id) }}">{{ event.title }} ({{ event.event_dt.strftime("%b %d") }})</a>
        </li>
      {% endfor %}
    </ol>
    <form>
      <input type="hidden"
             name="num_activities"
             value="{{ num_activities + 100 }}" />
      <input type="submit" value="Show more" />
    </form>
  </section>
{% endblock content %}
