{% extends "committee/base.html.j2" %}
{% block content %}
  <h1>Page Content</h1>
  <h2>Page Editing</h2>
  {% if message %}<p role="alert">{{ message }}</p>{% endif %}
  <p>
    You can edit any of the text on club pages below.
    To upload images for use in this, use the image uploader section below to get the appropriate markdown.
  </p>
  {% for page in pages %}
    <details {{ 'open' if preview and preview.name == page.name }}>
      <summary>{{ page.description }} ({{ page.name }}, v{{ page.version }})</summary>
      <form method="post" id="{{ page.id }}">
        <input type="hidden" name="name" value="{{ page.name }}" />
        <label>
          Description
          <small>(This probably doesn't need changing often)</small>
          <input type="text" name="description" value="{{ page.description }}" />
        </label>
        <label>
          Text
          <small>(Uses <a href="https://www.markdownguide.org/basic-syntax/">markdown</a>)</small>
          <textarea name="markdown">{{ preview.markdown if preview and preview.name == page.name else page.markdown }}</textarea>
        </label>
        {% if preview and preview.name == page.name %}
          <input type="submit"
                 class="btn-secondary"
                 value="Update Preview"
                 name="preview">
          <div class="markdown-preview">{{ preview.markdown | markdown | safe }}</div>
        {% else %}
          <input type="submit" class="btn-secondary" value="Preview" name="preview">
        {% endif %}
        <input type="submit" value="Update Page" name="edit">
      </form>
    </details>
  {% endfor %}
  <h2>Image Upload</h2>
  <p>
    This form can be used to upload images, or to find an existing uploaded image to generate markdown for use in page content.
  </p>
  <details>
    <summary>Upload Images for use in pages</summary>
    <form method="post" enctype="multipart/form-data">
      <label>
        Image Name
        <small>(Not that important, just for reference)</small>
        <input type="text" name="name" required />
      </label>
      <label>
        Image Upload
        <small>Should be a reasonable size to occupy 75% of the width of the page</small>
        <input type="file" name="image_file" accept="image/*" required />
      </label>
      <strong>Please make sure the image is sized to an appropriate size!</strong>
      <input type="submit" name="add_image" value="Add Image" />
    </form>
    <section id="uploaded-images">
      <h3>Available Images</h3>
      {% for image in image_paths %}
        {% set img_url = url_for('static', filename=image) %}
        <figure class="card">
          <img src="{{ img_url }}" height="256" width="256" alt="uploaded_img" />
          <p>To use this in a page, copy the markdown below.</p>
          <p>
            <code>![]({{ img_url }})</code>
          </p>
        </figure>
      {% endfor %}
    </section>
  </details>
  <h2>Site Admin</h2>
  <p>The below is for the use of the website admin only.</p>
  <details>
    <summary>Create a new page</summary>
    <p>This can be used to create a new page - but the website admin still needs to link up the content.</p>
    <form method="post">
      <label>
        Page Name
        <small>(This id will be used for linking later, and needs to be unique)</small>
        <input type="text" name="name" />
      </label>
      <label>
        Short Description
        <small>(This can be helpful for context)</small>
        <input type="text" name="description" />
      </label>
      <label>
        Page Text
        <textarea name="markdown"></textarea>
      </label>
      <input type="submit" value="Create New Page" name="new">
    </form>
  </details>
  <details>
    <summary>Alter a page name</summary>
    <p>Be really sure you know what you're doing!</p>
    <form method="post">
      <label>
        Current Page Name
        <input type="text" name="old_name" />
      </label>
      <label>
        New Page Name
        <input type="text" name="new_name" />
      </label>
      <input type="submit" value="Change Name" name="update_name">
    </form>
  </details>
{% endblock content %}
