{% extends "committee/base.html.j2" %}
{% block content %}
  <h1>Treasurer Overview</h1>
  <section>
    <h2>Event Overview</h2>
    <h3>Upcoming Paid Events</h3>
    <p>This shows a summary of upcoming paid events and lists any unpaid attendees on events (including past events).</p>
    <dl>
      {% for event in upcoming_paid_events | sort(attribute='event_dt') %}
        <dt>{{ event.title }} ({{ event.event_dt.strftime("%b %d, %Y") }})</dt>
        {% for attendee in unpaid_attendees | selectattr("event_id", "equalto", event.id) %}
          <dd>
            {{ user_map[attendee.user_id].full_name }}
          </dd>
        {% else %}
          <dd>
            <em>All paid!</em>
          </dd>
        {% endfor %}
      {% endfor %}
    </dl>
    <h3>Upcoming Hut Weekends</h3>
    <p>This shows any upcoming hut weekends without prices.</p>
    {% if upcoming_weekends_without_prices %}
      <ul>
        {% for event in upcoming_weekends_without_prices %}
          <li>
            <a href="{{ url_for('platform.events.event', id=event.id) }}">{{ event.title }}</a> ({{ event.event_dt.strftime("%b %d, %Y") }})
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p role="status">All upcoming weekends have prices!</p>
    {% endif %}
  </section>
  <section>
    <h2>Stripe Transactions</h2>
    {% if g.current_user.is_admin or g.current_user.is_executive_committee() %}
      {% if details %}<p role="status">{{ details }}</p>{% endif %}
      <p>This shows all recent transactions in Stripe, and how they relate to activity on the site.</p>
      <form method="post">
        <input type="submit" name="stripe" value="Fetch newer transactions" />
      </form>
      <details>
        <summary>Advanced - check with website admin if unsure!</summary>
        <form method="post">
          <input type="submit" name="stripe_older" value="Fetch older transactions" />
          <input type="submit" name="stripe_remove" value="Remove all transactions" />
        </form>
      </details>
      <p>
        Found {{ stripe_trans | length }} transactions in DB. This should match the Stripe total balance transactions (in Transactions -> All Activity)
      </p>
      <a href="{{ url_for('.transactions_csv') }}">Download CSV for use in accounts sheet</a>
      <ul>
        {% for t in stripe_trans[:num_trans] %}
          <li>
            <b>{{ t.dt_utc.strftime("%d %b %H:%M") }}</b>
            <small>{{ t.category() }}</small>
            {% if t.user_id %}{{ user_map[t.user_id].full_name if t.user_id in user_map else '[unknown user]' }}{% endif %}
            {% if t.net() < 0.0 %}
              received £{{ -t.net() }} (£{{ -t.gross() }} - £{{ t.stripe_fee() }} fee)
            {% else %}
              paid £{{ t.net() }} (£{{ t.gross() }} - £{{ t.stripe_fee() }} fee)
            {% endif %}
            {% if t.event_id %}for {{ event_map[t.event_id].title if t.event_id in event_map else '[unknown event]' }}{% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if num_trans < stripe_trans | length %}
        <form method="get">
          {% set next_val = ([num_trans * 3, stripe_trans | length] | min) %}
          <input type="hidden" name="num_trans" value="{{ next_val }}" />
          <input type="submit" value="Show more (showing {{ next_val }})" />
        </form>
      {% endif %}
    {% else %}
      <p role="alert">This section is only visible to executive committee members and the website admin.</p>
    {% endif %}
  </section>
  <section>
    <h2>Trip Price Calculator</h2>
    <form id="trip-calculator">
      <label>
        How many nights?
        <input name="num_nights" type="number" min="0" step="1" value="2" />
      </label>
      <label>
        How much per night (£)?
        <input name="cost_per_night"
               type="number"
               min="0.00"
               step="0.01"
               value="20.00" />
      </label>
      <label>
        How many nights of food budget?
        <input name="food_nights" type="number" min="0" step="1" value="1" />
      </label>
      <label>
        How much per night per person for food (usually £4)?
        <input name="food_cost" type="number" min="0.00" step="0.01" value="4.00" />
      </label>
      <label>
        Any other fixed costs per person (e.g. coins for radiators)?
        <input name="fixed_costs" type="number" min="0.00" step="0.01" value="0.00" />
      </label>
      <label>
        Stripe fees / markup
        <small>This is 1.5% + 20p in most cases, but we use 2% usually.</small>
        <input name="stripe_pct"
               type="number"
               min="0.00"
               step="0.01"
               max="100.00"
               value="2.00" />
      </label>
      <label>
        Calculated Cost Per Person
        <output name="result">
        </output>
      </label>
    </form>
    <script>
      const form = document.getElementById("trip-calculator");

      function updateResult() {
        const num_nights = form.elements["num_nights"].valueAsNumber;
        const cost_per_night = form.elements["cost_per_night"].valueAsNumber;
        const food_nights = form.elements["food_nights"].valueAsNumber;
        const food_cost = form.elements["food_cost"].valueAsNumber;
        const fixed_costs = form.elements["fixed_costs"].valueAsNumber;
        const stripe_pct = form.elements["stripe_pct"].valueAsNumber;

        const gross_cost = num_nights * cost_per_night + food_nights * food_cost + fixed_costs;

        const total_cost = gross_cost * (100 + stripe_pct) / 100;

        const result = form.elements['result'];

        result.value = `£${total_cost.toFixed(2)}`
      }

      updateResult();
      form.addEventListener("input", updateResult)
    </script>
  </section>
  <section>
    <h2>Membership Payments</h2>
    <p>
      Membership is managed via Stripe. When you create a new membership product (which should only happen once a year), you have to ensure that two things are present in the metadata for that product:
    </p>
    <ol>
      <li>
        The key <code>membership: true</code> - we use this to find membership products.
      </li>
      <li>
        The key <code>membership_expiry</code>, with the valid date (e.g. <code>membership_expiry: 2025-03-31</code>).
      </li>
    </ol>
    <p>
      Once you have done this, any prices which are active for that membership will automatically show up in the club joining form.
    </p>
    <p>Each month, you can then add the prices for the new month and make the old prices inactive.</p>
    <p>For a new membership year, ask the administrator to update the active membership expiry.</p>
    <strong>Current active membership expiry: {{ active_expiry }}</strong>
  </section>
{% endblock content %}
