{% extends "committee/base.html.j2" %}
{% block platform %}
  <h1>Treasurer</h1>
  <section>
    <h1>Membership Payments</h1>
    <p>
      Membership is managed via Stripe. When you create a new membership product (which should only happen once a year), you have to ensure that two things are present in the metadata for that product:
    </p>
    <ol>
      <li>
        The key <code>membership: true</code> - we use this to find membership products.
      </li>
      <li>
        The key <code>membership_expiry</code>, with the valid date (e.g. <code>membership_expiry: 2025-03-31</code>).
      </li>
    </ol>
    <p>Once you have done this, any prices which are active for that membership will automatically show up.</p>
    <p>Each month, you can then add the prices for the new month and make the old prices inactive.</p>
    <p>For a new membership year, ask the administrator to update the active membership expiry.</p>
    <strong>Current active membership expiry: {{ active_expiry }}</strong>
  </section>
{% endblock platform %}
