{% extends "committee/base.html.j2" %}
{% block content %}
  <h1>Treasurer Overview</h1>
  <section>
    <h2>Unpaid Users</h2>
    <p>This shows anyone who has signed up to an event with an attached price but hasn't paid yet.</p>
    <dl>
      {% for event in unpaid_events | sort(attribute='event_dt') %}
        <dt>{{ event.title }} ({{ event.event_dt.strftime("%b %d, %Y") }})</dt>
        {% for attendee in unpaid_attendees | selectattr("event_id", "equalto", event.id) %}
          <dd>
            {{ user_map[attendee.user_id].full_name }}
          </dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </section>
  <section>
    <h2>Membership Payments</h2>
    <p>
      Membership is managed via Stripe. When you create a new membership product (which should only happen once a year), you have to ensure that two things are present in the metadata for that product:
    </p>
    <ol>
      <li>
        The key <code>membership: true</code> - we use this to find membership products.
      </li>
      <li>
        The key <code>membership_expiry</code>, with the valid date (e.g. <code>membership_expiry: 2025-03-31</code>).
      </li>
    </ol>
    <p>
      Once you have done this, any prices which are active for that membership will automatically show up in the club joining form.
    </p>
    <p>Each month, you can then add the prices for the new month and make the old prices inactive.</p>
    <p>For a new membership year, ask the administrator to update the active membership expiry.</p>
    <strong>Current active membership expiry: {{ active_expiry }}</strong>
  </section>
{% endblock content %}
