{% extends "platform/base.html.j2" %}
{% block content %}
  {% if g.current_user.is_site_admin %}
    <a class="button admin w-full" href="{{ url_for('.add_kit') }}">Add new item</a>
  {% endif %}
  <h1>Kit Library</h1>
  <p>
    Our full kit library is below. Any item can be requested - to see open requests, click on the item you want to request.
  </p>
  <form hx-target="#kit-list"
        hx-select="#kit-list"
        hx-swap="outerHTML settle:0.2s"
        hx-push-url="true"
        hx-trigger="change">
    <input type="search" name="search"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           hx-get="{{ url_for('.kit') }}"
           placeholder="Search for a kit item..." 
           value="{{ search if search else '' }}"
           />
    <noscript>
      <input type="submit" value="Search" />
    </noscript>
  </form>
  <div id="kit-list">
  {% for kit in kit_items %}
    <article class="kit drop-shadow">
      <small>({{ kit.club_id }})</small>
      <div>
        {% if kit_status[kit.id] == 'Available' %}
          <small class="badge color-green">Available</small>
        {% elif kit_status[kit.id] == 'Out' %}
          <small class="badge color-red">Out</small>
        {% elif kit_status[kit.id] == 'Requested' %}
          <small class="badge color-amber">Requested</small>
        {% endif %}
      </div>
      <h3>
        <a href="{{ url_for('.kit_details', id=kit.id) }}">
          {{ kit.description }}
          {% if kit.kit_type %}
            ({{ kit.kit_type }})
          {% endif %}
        </a>
      </h3>
      <p>
        {%- set comma = joiner(",") -%}
        {%- if kit.brand -%}
          {{comma()}} Brand: {{ kit.brand }}
        {%- endif -%}
        {%- if kit.color -%}
          {{ comma() }} Colour: {{ kit.color }}
        {%- endif -%}
        {%- if kit.size -%}
          {{ comma() }} Size: {{ kit.size }}
        {%- endif %}
      </p>

      <div class="kit-buttons">
        <a class="button" href="{{ url_for('.request_kit', id=kit.id) }}">Request Borrow</a>
        {% if g.current_user.is_site_admin %}
          <a class="button admin" href="{{ url_for('.add_kit', id=kit.id) }}">Edit</a>
        {% endif %}
      </div>
    </article>
  {% endfor %}
  </div>
{% endblock content %}
