{% extends "platform/base.html.j2" %}
{% block content %}
  {% if g.current_user.is_site_admin %}
    <a class="button admin w-full" href="{{ url_for('.add_kit') }}">Add new item</a>
  {% endif %}
  <h1>Kit Library</h1>
  <p>
    Our full kit library is below. Any item can be requested - to see open requests, click on the item you want to request.
  </p>
  {% for kit in kit_items %}
    <article class="kit drop-shadow">
      <h3>
        {{ kit.description }}
        {% if kit.kit_type %}
          ({{ kit.kit_type }})
        {% endif %}
      </h3>
      <small>({{ kit.club_id }})</small>
      <p>
        {%- set comma = joiner(",") -%}
        {%- if kit.brand -%}
          {{ comma() }}{{ kit.brand }}
        {%- endif -%}
        {%- if kit.color -%}
          {{ comma() }} {{ kit.color }}
        {%- endif -%}
        {%- if kit.size -%}
          {{ comma() }} {{ kit.size }}
        {%- endif %}
      </p>

      <div class="kit-buttons">
        <a class="button" href="{{ url_for('.kit_details', id=kit.id) }}">Details</a>
        <a class="button" href="{{ url_for('.request_kit', id=kit.id) }}">Request</a>
        {% if g.current_user.is_site_admin %}
        <a class="button admin" href="{{ url_for('.add_kit', id=kit.id) }}">Edit</a>
      </div>
      {% endif %}
    </article>
  {% endfor %}
{% endblock content %}
