{% from "platform/macros/theme.html.j2" import badge %}
{% from "platform/macros/profile.html.j2" import profile_picture %}
{% macro attending_user(att_user, user) %}
  <li class="flex flex-gap-small">
    <a href="{{ url_for('platform.member', slug=user.slug) }}"
       class="flex flex-gap-small">
      {{ profile_picture(user, '32') }}
      <span>{{ user.full_name }}</span>
    </a>
    {% if att_user.is_trip_paid %}
      <span>
        {# BI - Cash Coin #}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="green"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
          <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
          <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
          <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
        </svg>
      </span>
    {% endif %}
    {% if g.current_user.is_site_admin %}
      <span class="admin flex flex-gap-small">
        <small>({{ user.mobile }})</small>
        <small>ICE: {{ user.in_case_emergency }}</small>
        <form method="post"
              action="{{ url_for('platform.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden"
                 name="is_waiting_list"
                 value="{{ not att_user.is_waiting_list }}" />
          <button type="submit" data-tooltip="Toggle Waiting List">
            {% if att_user.is_waiting_list %}
              {# BI - Layer Forward #}
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   viewBox="0 0 16 16">
                <path d="M8.354.146a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708l1 1a.5.5 0 0 0 .708 0L7 4.207V12H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H9V4.207l.646.647a.5.5 0 0 0 .708 0l1-1a.5.5 0 0 0 0-.708z" />
                <path d="M1 7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h4.5a.5.5 0 0 0 0-1H1V8h4.5a.5.5 0 0 0 0-1zm9.5 0a.5.5 0 0 0 0 1H15v2h-4.5a.5.5 0 0 0 0 1H15a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1z" />
              </svg>
            {% else %}
              {# BI - Layer Backward #}
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   viewBox="0 0 16 16">
                <path d="M8.354 15.854a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708l1-1a.5.5 0 0 1 .708 0l.646.647V4H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9v7.793l.646-.647a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708z" />
                <path d="M1 9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4.5a.5.5 0 0 1 0 1H1v2h4.5a.5.5 0 0 1 0 1zm9.5 0a.5.5 0 0 1 0-1H15V6h-4.5a.5.5 0 0 1 0-1H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1z" />
              </svg>
            {% endif %}
          </button>
        </form>
        <form method="post"
              action="{{ url_for('platform.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden"
                 name="is_trip_paid"
                 value="{{ not att_user.is_trip_paid }}" />
          <button type="submit" data-tooltip="Toggle Paid">
            {# BI - Cash Coin #}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
              <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
              <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
              <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
            </svg>
          </button>
        </form>
        <form method="post"
              action="{{ url_for('platform.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="DELETE" />
          <button type="submit" data-tooltip="Remove User">
            {# BI - X Square Fill #}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
            </svg>
          </button>
        </form>
      </span>
    {% endif %}
  </li>
{% endmacro %}
{% if is_dialog %}<a href="{{ url_for('.events', _anchor=event.slug) }}">< Return to Events</a>{% endif %}
<article id="{{ event.slug }}"
         class="event card{{ ' event-past' if not event.is_upcoming() }}">
  <header class="flex">
    <div class="event-date">
      <span>{{ event.event_dt.strftime("%A") }}</span>
      <span>{{ event.event_dt.strftime("%-d") }}</span>
      <span>{{ event.event_dt.strftime("%b %Y") }}</span>
    </div>
    <div>
      <h1>
        <a hx-target="#selectedEvent"
           hx-boost="true"
           href="{{ url_for('platform.event', id=event.id) }}">{{ event.title }}</a>
      </h1>
      {{ badge(event.event_type.name) }}
      {% if event.is_members_only %}{{ badge("Members Only") }}{% endif %}
      {% if event.event_end_dt %}
        <p>
          {{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }} 🡪 {{ event.event_end_dt.strftime("%A, %b %d, %Y, %H:%M") }}
        </p>
      {% else %}
        <p>&nbsp;{{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }}</p>
      {% endif %}
    </div>
    {% if g.current_user.is_site_admin %}
      <details class="admin">
        <summary>Admin</summary>
        <article class="card">
          <a class="button"
             href="{{ url_for('platform.edit_event', id=event.id) }}">Edit event</a>
          <a class="button"
             href="{{ url_for('platform.edit_event', copy_from=event.id) }}">Copy event</a>
          <form method="post" action="{{ url_for('platform.event', id=event.id) }}">
            <input type="hidden" name="method" value="DELETE" />
            <input type="submit" value="Delete event" />
          </form>
        </article>
      </details>
    {% endif %}
  </header>
  {# Tiny bit of javascript to handle expansion of the description #}
  <section class="event-description"
           data-expanded="false"
           onclick="this.dataset.expanded = (this.dataset.expanded === 'false' ? 'true' : 'false') ">
    {{ event.description | markdown | safe }}
  </section>
  {% set evt_attendees = attendees[event.id] | sort(attribute='joined_at_utc') %}
  {% set total = evt_attendees | length %}
  {% set total_wait = evt_attendees | map(attribute='is_waiting_list') | sum %}
  <details class="attendees">
    <summary>
      <span>Attendees ({{ total - total_wait }} total, {{ event.max_attendees if event.max_attendees and event.max_attendees > 0 else 'no' }} max)</span>
      <div class="attendees-summary">
        {% for attendee in evt_attendees if not attendee.is_waiting_list %}
          {{ profile_picture(members[attendee.user_id], '32') }}
        {% else %}
          <small>No attendees yet!</small>
        {% endfor %}
      </div>
    </summary>
    <ul>
      {% for attendee in evt_attendees if not attendee.is_waiting_list %}
        {{ attending_user(attendee, members[attendee.user_id]) }}
      {% else %}
        <li>No attendees yet!</li>
      {% endfor %}
      {% if g.current_user.is_site_admin %}
        <form class="admin"
              action="{{ url_for('platform.event_attendee_add', event_id=event.id) }}">
          <input type="search" name="search" placeholder="Add a new attendee..." />
        </form>
      {% endif %}
    </ul>
  </details>
  {% if total_wait > 0 %}
    <details class="attendees">
      <summary>
        <span>Waiting List ({{ total_wait }} total)</span>
        <div class="attendees-summary">
          {% for attendee in evt_attendees if attendee.is_waiting_list %}
            {{ profile_picture(members[attendee.user_id], '32') }}
          {% endfor %}
        </div>
      </summary>
      <ul>
        {% for attendee in evt_attendees if attendee.is_waiting_list %}
          {{ attending_user(attendee, members[attendee.user_id]) }}
        {% else %}
          <li>No waiting list yet!</li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
  {% if event.is_upcoming() %}
    {% if g.current_user.id in (evt_attendees | map(attribute='user_id') | list) %}
      <form method="post"
            action="{{ url_for('platform.attendee', event_id=event.id, user_id=g.current_user.id) }}">
        <input type="hidden" name="method" value="DELETE" />
        <input type="submit" class="btn-cancel" value="Leave" />
      </form>
    {% else %}
      <form method="post"
            action="{{ url_for('platform.attend_event', event_id=event.id) }}">
        <input type="hidden" name="method" value="POST" />
        {% if total_wait > 0 or (total > 0 and event.max_attendees and total >= event.max_attendees) %}
          <input type="submit" value="Join Waiting List" />
        {% else %}
          {% if event.is_open() %}
            <input type="submit" value="Attend" />
          {% else %}
            {% set open_str = event.signup_open_dt.strftime('%b %-d, %Y %H:%M') %}
            <input type="button" disabled value="Signup opens at {{ open_str }}" />
          {% endif %}
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
</article>
