{% from "platform/macros/theme.html.j2" import badge %}
<article id="{{ event.slug }}"
         class="event card{{ ' event-past' if not event.is_upcoming() }}">
  <header class="flex">
    <div class="event-date">
      <span>{{ event.event_dt.strftime("%A") }}</span>
      <span>{{ event.event_dt.strftime("%-d") }}</span>
      <span>{{ event.event_dt.strftime("%b %Y") }}</span>
    </div>
    <div>
      <h1>
        <a href="{{ url_for('platform.events') + '#' + event.slug }}">{{ event.title }}</a>
      </h1>
      {{ badge(event.event_type.name) }}
      {% if event.is_members_only %}{{ badge("Members Only") }}{% endif %}
      {% if event.event_end_dt %}
        <p>
          {{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }} 🡪 {{ event.event_end_dt.strftime("%A, %b %d, %Y, %H:%M") }}
        </p>
      {% else %}
        <p>&nbsp;{{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }}</p>
      {% endif %}
    </div>
    {% if g.current_user.is_site_admin %}
      <details class="admin">
        <summary>Admin</summary>
        <div>
          <a class="button"
             href="{{ url_for('platform.edit_event', id=event.id) }}">Edit event</a>
          <a class="button" href="#">Copy event</a>
          <form method="post" action="{{ url_for('platform.event', id=event.id) }}">
            <input type="hidden" name="method" value="DELETE" />
            <input type="submit" value="Delete event" />
          </form>
        </div>
      </details>
    {% endif %}
  </header>
  <details class="event-description">
    <summary>{{ event.description | markdown | safe }}</summary>
  </details>
  {% set evt_attendees = attendees[event.id] | sort(attribute='joined_at_utc') %}
  {% set total = evt_attendees | length %}
  {% set total_wait = evt_attendees | map(attribute='is_waiting_list') | sum %}
  <details class="attendees">
    <summary>
      <span>Attendees ({{ total - total_wait }} total, {{ event.max_attendees if event.max_attendees > 0 else 'no' }} max)</span>
      <div class="attendees-summary">
        {% for attendee in evt_attendees if not attendee.is_waiting_list %}
          {{ profile_picture(members[attendee.user_id], '32') }}
        {% else %}
          <small>No attendees yet!</small>
        {% endfor %}
      </div>
    </summary>
    <ul>
      {% for attendee in evt_attendees if not attendee.is_waiting_list %}
        {{ attending_user(attendee, members[attendee.user_id]) }}
      {% else %}
        <li>No attendees yet!</li>
      {% endfor %}
    </ul>
  </details>
  {% if total_wait > 0 %}
    <details class="attendees">
      <summary>
        <span>Waiting List ({{ total_wait }} total)</span>
        <div class="attendees-summary">
          {% for attendee in evt_attendees if attendee.is_waiting_list %}
            {{ profile_picture(members[attendee.user_id], '32') }}
          {% endfor %}
        </div>
      </summary>
      <ul>
        {% for attendee in evt_attendees if attendee.is_waiting_list %}
          {{ attending_user(attendee, members[attendee.user_id]) }}
        {% else %}
          <li>No waiting list yet!</li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
  {% if event.is_upcoming() %}
    {% if g.current_user.id in (evt_attendees | map(attribute='user_id') | list) %}
      <form method="post"
            action="{{ url_for('platform.attendee', event_id=event.id, user_id=g.current_user.id) }}">
        <input type="hidden" name="method" value="DELETE" />
        <input type="submit" class="btn-cancel" value="Leave" />
      </form>
    {% else %}
      <form method="post"
            action="{{ url_for('platform.attend_event', event_id=event.id) }}">
        <input type="hidden" name="method" value="POST" />
        <input type="submit" value="Attend" />
      </form>
    {% endif %}
  {% endif %}
</article>
