<form id="upload"
      method="post"
      enctype="multipart/form-data"
      action="{{ url_for('.album', id=album.id) }}"
      hx-post="{{ url_for('.album', id=album.id) }}"
      hx-select="#upload">
  <label>
    <input type="file" name="photos" accept='image/*' multiple />
  </label>
  <input type="submit" value="Upload" />
  <progress id="progress" value="0" max="100"></progress>
</form>
