{% extends "platform/base.html.j2" %}
{% block platform %}
  <header>
    <a href="{{ url_for('platform.photos') }}">< Back to Photos</a>
  </header>
  <details>
    <summary>Upload Photos</summary>
    <form method="post">
      <label>
        <input type="file" name="photos" multiple />
      </label>
      <input type="submit" value="Upload" />
    </form>
  </details>
  <section id="gallery">
    {# Little JS for the gallery functionality #}
    <script>
    let setHighlightedImage = (imgId) => {
      let dialog = document.getElementById('highlightedPhoto');

      let targetImage = document.getElementById(imgId);

      // Point the main image to the image
      dialog.getElementsByTagName('img')[0].src = targetImage.src;
      console.log(targetImage.dataset.uploader)

      // Set the uploader name
      if (targetImage.dataset.uploader) {
        dialog.getElementsByTagName('small')[0].innerText = `Taken by: ${targetImage.dataset.uploader}`;
      } else {
        dialog.getElementsByTagName('small')[0].innerText = ''
      }

      // Set up the starring button text
      if (targetImage.dataset.starred === 'true') {
        document.getElementById('star-photo-btn').innerText = 'Star Photo'
      } else {
        document.getElementById('star-photo-btn').innerText = 'Unstar Photo'
      }
      
      // Set up star form with the right ID
      document.getElementById('star-photo-id').value = targetImage.dataset.id

      // Set up next and previous
      if (targetImage.previousElementSibling?.id.startsWith('photo')) {
        document.getElementById('prev').dataset.image = targetImage.previousElementSibling.id
      } else {
        document.getElementById('prev').dataset.image = targetImage.src
      }
      if (targetImage.nextElementSibling?.id.startsWith('photo')) {
        document.getElementById('next').dataset.image = targetImage.nextElementSibling.id
      } else {
        document.getElementById('next').dataset.image = targetImage.src
      }
    }
    
    let openDialog = (img) => {
      let dialog = document.getElementById('highlightedPhoto');

      // Point the main image to the image
      setHighlightedImage(img.id)

      dialog.showModal();
      
      // Close on a click outside
      dialog.addEventListener('click', (e) => {
        if (e.target.id === dialog.id) {
          dialog.close()
        }
      })
    }
    </script>
    <dialog id="highlightedPhoto">
      {# Extra <div> to ensure clicks in dialog dont close it #}
      <div>
        {# djlint:off #}
        <img id="highlightedPhoto" />
        {# djlint:on #}
        {# Overwritten by JS #}
        <small>Taken by:</small>
        <div id="controls">
          <button id="prev"
                  data-image=""
                  onclick="setHighlightedImage(this.dataset.image)">Previous</button>
          {% if g.current_user.is_site_admin %}
            <form class="color-admin">
              {# Controlled by JS #}
              <input type="hidden" id="star-photo-id" />
              <button id="star-photo-btn" type="submit">Star Photo</button>
            </form>
          {% endif %}
          <button id="next"
                  data-image=""
                  onclick="setHighlightedImage(this.dataset.image)">Next</button>
        </div>
      </div>
    </dialog>
    {% for photo in photos %}
      {# djlint:off #}
      <img id="photo-{{ photo.id }}"
           height="160"
           src="{{ url_for('static', filename=photo.photo_path) }}"
           loading="lazy"
           data-id="{{ photo.id }}"
           data-starred="{{ 'true' if photo.starred else 'false' }}"
           data-uploader="{{ user_map[photo.uploader_id].full_name }}"
           onclick="openDialog(this)" />
      {# djlint:on #}
    {% endfor %}
  </section>
{% endblock platform %}
