{% extends "platform/base.html.j2" %}
{% block platform %}
  <header>
    <a href="{{ url_for('platform.albums') }}">< Back to Photos</a>
  </header>
  <details>
    <summary>Upload Photos</summary>
    <form method="post" enctype="multipart/form-data">
      <label>
        <input type="file" name="photos" multiple />
      </label>
      <input type="submit" value="Upload" />
    </form>
  </details>
  <section id="gallery">
    {% if highlighted_ix is defined %}
      {% set h_photo = photos[highlighted_ix] %}
      <dialog id="highlighted">
        {# Extra <div> to ensure clicks in dialog dont close it #}
        <div>
          {# djlint:off #}
          <img src="{{ url_for('static', filename=h_photo.photo_path) }}" />
          {# djlint:on #}
          {% if h_photo.uploaded_id %}<small>Taken by: {{ user_map[h_photo.uploaded_id].full_name }}</small>{% endif %}
          <div id="controls">
            {% if highlighted_ix != 0 %}
              {% set prev_photo_id = photos[highlighted_ix - 1].id %}
              {# djlint:off #}
              <a class="button"
                 href="{{ url_for('platform.album', id=album.id, highlighted_id=prev_photo_id) }}">Previous</a>
              {# djlint:on #}
            {% else %}
              <a class="button" aria-disabled="true">Previous</a>
            {% endif %}
            {% if g.current_user.is_site_admin %}
              <form class="color-admin" method="post">
                {% if h_photo.starred %}
                  <input type="hidden" name="starred" value="false">
                  <button type="submit">Unstar Photo</button>
                {% else %}
                  <input type="hidden" name="starred" value="true">
                  <button type="submit" name="star">Star Photo</button>
                {% endif %}
              </form>
            {% endif %}
            {% if highlighted_ix - 1 != (photos | length) %}
              {% set next_photo_id = photos[highlighted_ix + 1].id %}
              {# djlint:off #}
              <a class="button"
                 href="{{ url_for('platform.album', id=album.id, highlighted_id=next_photo_id) }}">Next</a>
              {# djlint:on #}
            {% else %}
              <a class="button" aria-disabled="true">Next</a>
            {% endif %}
          </div>
        </div>
      </dialog>
      {# Tiny bit of JS to open the dialog via JS (as modal) and close when clicking outside #}
      <script>
        const dialog = document.getElementById('highlighted');
        dialog.showModal();
        document.addEventListener('click', (e) => {
          if (e.target.id === dialog.id) {
            dialog.close()
          }
        })
      </script>
    {% endif %}
    {% for photo in photos %}
      {# djlint:off #}
      <a href="{{ url_for('platform.album', id=album.id, highlighted_id=photo.id) }}">
        <img id="photo-{{ photo.id }}"
            height="160"
            src="{{ url_for('static', filename=photo.photo_path) }}"
            loading="lazy"
            data-starred="{{ 'true' if photo.starred else 'false' }}"
            />
      </a>
      {# djlint:on #}
    {% endfor %}
  </section>
{% endblock platform %}
