{% set h_photo = photos[highlighted_ix] %}
{# hide duplicate attribute and image width/height/alt warnings #}
{# djlint:off H006,H037,H013 #}
{# Extra <div> to ensure clicks in dialog dont close it #}
<div>
  <a hx-boost="true" href="{{ url_for('.album', id=album.id) }}">< exit fullscreen</a>
  <img src="{{ url_for('static', filename=h_photo.photo_path) }}" />
  {% if h_photo.uploaded_id %}<small>Taken by: {{ user_map[h_photo.uploaded_id].full_name }}</small>{% endif %}
  <div id="controls">
    {% if highlighted_ix != 0 %}
      {% set prev_photo_id = photos[highlighted_ix - 1].id %}
      <a class="button"
         hx-boost="true"
         href="{{ url_for('.album', id=album.id, highlighted_id=prev_photo_id) }}">Previous</a>
    {% else %}
      <a class="button" aria-disabled="true">Previous</a>
    {% endif %}
    {% if g.current_user.is_site_admin %}
      <form class="admin"
            method="post"
            hx-put="{{ url_for('.album', id=album.id, highlighted_id=h_photo.id) }}">
        <input type="hidden" name="method" value="PUT" />
        {% if h_photo.starred %}
          <input type="hidden" name="starred" value="False">
          <button type="submit">Unstar Photo</button>
        {% else %}
          <input type="hidden" name="starred" value="True">
          <button type="submit">Star Photo</button>
        {% endif %}
      </form>
    {% endif %}
    {% if (highlighted_ix + 1) < (photos | length) %}
      {% set next_photo_id = photos[highlighted_ix + 1].id %}
      <a class="button"
         hx-boost="true"
         href="{{ url_for('.album', id=album.id, highlighted_id=next_photo_id) }}">Next</a>
    {% else %}
      <a class="button" aria-disabled="true">Next</a>
    {% endif %}
  </div>
</div>
{# djlint: on#}
