{% extends "base.html.j2" %}
{% macro nav_link(endpoint, name) -%}
  {% if request.endpoint.startswith(endpoint) %}
    <li>
      <a href="{{ url_for(endpoint) }}"
         aria-selected="{{ 'true' if request.endpoint.endswith(endpoint) else 'false' }}">{{ name }}</a>
      {% if caller %}{{ caller() }}{% endif %}
    </li>
  {% else %}
    <li>
      <a href="{{ url_for(endpoint) }}">{{ name }}</a>
    </li>
  {% endif %}
{%- endmacro %}
{% block content %}
  <aside>
    <nav>
      <ul preload>
        {{ nav_link('platform.home', 'Home') }}
        {% call nav_link('platform.events', 'Events') %}
          <ul>
            {{ nav_link('platform.events', 'Upcoming') }}
            {{ nav_link('platform.events_calendar', 'Calendar') }}
          </ul>
        {% endcall %}
        {{ nav_link('platform.members', 'Members') }}
        {{ nav_link('platform.albums', 'Photos') }}
        {{ nav_link('platform.join', 'Join the Club') }}
        <li>
          <a href="https://discord.gg/98K3CafRxk">Discord</a>
        </li>
        <li>
          <a href="https://www.tshirtstudio.com/marketplace/clyde-mountaineering-club">Club Merch</a>
        </li>
        {% if g.current_user.is_site_admin %}
          {% call nav_link('platform.committee', 'Committee') %}
            <ul>
              {{ nav_link('platform.committee', 'Overview') }}
              {{ nav_link('platform.committee_pages', 'Pages') }}
            </ul>
          {% endcall %}
        {% endif %}
      </ul>
    </nav>
  </aside>
  <main>
    {% block platform %}
    {% endblock platform %}
  </main>
{% endblock content %}
