{% extends "base.html.j2" %}
{% macro nav_link(endpoint, name) -%}
  {% if request.endpoint.startswith(endpoint) %}
    <li>
      <a href="{{ url_for(endpoint) }}"
         aria-selected="{{ 'true' if request.endpoint.endswith(endpoint) else 'false' }}">{{ name }}</a>
      {% if caller %}{{ caller() }}{% endif %}
    </li>
  {% else %}
    <li>
      <a href="{{ url_for(endpoint) }}">{{ name }}</a>
    </li>
  {% endif %}
{%- endmacro %}
{% block content %}
  <aside>
    <nav id="sidebar-nav" data-expanded="false">
      <ul preload>
        {{ nav_link('platform.home', 'Club Info') }}
        {% call nav_link('platform.events', 'Events') %}
          <ul>
            {{ nav_link('platform.events', 'Upcoming') }}
            {{ nav_link('platform.events_calendar', 'Calendar') }}
          </ul>
        {% endcall %}
        {{ nav_link('platform.members', 'Members') }}
        {{ nav_link('platform.albums', 'Photos') }}
        {{ nav_link('platform.join', 'Join the Club') }}
        <li>
          <a href="https://discord.gg/98K3CafRxk">Discord</a>
        </li>
        <li>
          <a href="https://www.tshirtstudio.com/marketplace/clyde-mountaineering-club">Club Merch</a>
        </li>
        {% if g.current_user.is_site_admin %}
          <div class="admin">
            {% call nav_link('platform.committee', 'Committee') %}
              <ul>
                {{ nav_link('platform.committee', 'Overview') }}
                {{ nav_link('platform.committee_pages', 'Pages') }}
              </ul>
            {% endcall %}
          {% endif %}
        </div>
      </ul>
      <button id="sidebar-hamburger"
              onclick="document.getElementById('sidebar-nav').dataset.expanded = document.getElementById('sidebar-nav').dataset.expanded === 'true' ? 'false' : 'true' ">
        {# BI - List #}
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
      </button>
    </nav>
  </aside>
  <main>
    {% block platform %}
    {% endblock platform %}
  </main>
{% endblock content %}
