{% extends "platform/base.html.j2" %}
{% block content %}
  {{ content | markdown | safe }}
  <form method="post">
    <input type="submit" value="Reactivate your account" />
  </form>
{% endblock content %}
