{% extends "platform/base.html.j2" %}
{% from "_forms.html.j2" import user_form %}
{% block platform %}
  <h1>Editing {{ user.full_name }}</h1>
  {{ user_form('put', url_for('platform.member', id=user.id) , 'Update') }}
{% endblock platform %}
