{% from "platform/macros/theme.html.j2" import color_class %}
{% extends "platform/base.html.j2" %}
{% macro attending_user(att_user, user) %}
  <li class="attending-user">
    {{ profile_picture(user, '32') }}
    {{ user.full_name }}
  </li>
{% endmacro %}
{% block platform %}
  {% if g.current_user.is_site_admin %}
    <a href="{{ url_for('platform.edit_event') }}" class="button">Create Event</a>
  {% endif %}
  <form>
    <details open>
      <summary>Event Filters</summary>
      <label>
        Start Date
        <input type="date"
               name="start_dt"
               value="{{ start_dt.isoformat() if start_dt else '' }}" />
      </label>
      <label>
        Event Types
        <fieldset>
          {% for event_type in event_type_set %}
            <label class="event-filter color-{{ color_class(event_type.name) }}">
              {{ event_type.name | replace('_', ' ') | lower | title }}
              <input type="checkbox" name="event_type" value="{{ event_type.value }}" {{ 'checked' if event_type.value in event_types }} />
            </label>
          {% endfor %}
        </fieldset>
      </label>
    </details>
    <input type="search"
           name="search"
           placeholder="Search for an event..."
           value="{{ search if search else '' }}" />
  </form>
  <section>
    {% for event in events %}
      {% include "platform/_event.html.j2" %}
    {% endfor %}
  </section>
{% endblock platform %}
