{% extends "platform/base.html.j2" %}
{% block platform %}
  <h1>Events</h1>
  <a href="{{ url_for('platform.edit_event') }}">Create Event</a>
  <section>
    {% for event in events %}
      <article id="{{ event.id }}">
        <h1>{{ event.title }}</h1>
        <em>{{ event.event_dt }}</em>
        <div>{{ event.description | markdown | safe }}</div>
      </article>
    {% endfor %}
  </section>
{% endblock platform %}
