{% from "platform/macros/profile.html.j2" import profile_picture %}
{% from "platform/macros/theme.html.j2" import badge %}
{% extends "platform/base.html.j2" %}
{% block platform %}
  <h1>Calendar {{ year }} {{ month }}</h1>
  <div class="events-calendar">
    {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
      <h4>{{ day }}</h4>
    {% endfor %}
    {% for day_dt in days %}
      <div class="events-calendar-day">
        <h4>{{ day_dt.day }}</h4>
        {% for event in events %}
          {% if event.event_dt.date() == day_dt %}
            <div>
              <span>{{ event.event_dt.strftime("%H:%M") }}</span>
              <span>{{ event.title }}</span>
            </div>
          {% elif event.event_dt.date() < day_dt and event.event_end_dt and event.event_end_dt.date() > day_dt %}
            <div>
              <span>All Day</span>
              <span>{{ event.title }}</span>
            </div>
          {% elif event.event_end_dt and event.event_end_dt.date() == day_dt %}
            <div>
              <span>{{ event.event_end_dt.strftime("%H:%M") }}</span>
              <span>{{ event.title }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock platform %}
