{% extends "platform/base.html.j2" %}
{% block platform %}
  <a href="{{ url_for('platform.events') }}">< return to upcoming events</a>
  {% if event %}
    <h1>Editing {{ event.title }}</h1>
  {% else %}
    <h1>New Event</h1>
  {% endif %}
  <form method="post" action="{{ url_for('platform.events') }}">
    <label>
      Event Title
      <input type="text" name="title" required />
    </label>
    <label>
      Start Date
      <small>(24h time)</small>
      <input type="datetime-local" name="event_dt" required />
    </label>
    <label>
      End Date
      <small>(For calendar, usually blank unless weekend)</small>
      <input type="datetime-local" name="event_end_dt" />
    </label>
    <label>
      Event Type
      <select name="event_type" required>
        {% for event_type in event_types %}
          <option value="{{ event_type.value }}">{{ event_type.name | replace('_', ' ') | lower | title }}</option>
        {% endfor %}
      </select>
    </label>
    <label>
      Members only?
      <small>(Usually no, except weekends)</small>
      <input type="checkbox" name="members_only" />
    </label>
    <label>
      Signup Open Date
      <small>(24h time - leave blank for always open)</small>
      <input type="datetime-local" name="event_open_dt" />
    </label>
    <label>
      Max Attendees
      <small>(0 = no max)</small>
      <input type="number" name="max_attendees" />
    </label>
    <label>
      Pre-attend - check user is on discord?
      <small>(Always enabled)</small>
      <input type="checkbox" name="show_discord" checked disabled />
    </label>
    <label>
      Pre-attend - check user is a member, if members only?
      <small>(Always enabled)</small>
      <input type="checkbox" name="show_discord" checked disabled />
    </label>
    <label>
      Pre-attend - check user's trial is not over?
      <small>(Always enabled)</small>
      <input type="checkbox" name="show_discord" checked disabled />
    </label>
    <label>
      Pre-attend - show participation statement and check ICE?
      <small>(Usually yes for outdoor events, no for socials / indoor climbing)</small>
      <input type="checkbox" name="show_participation" />
    </label>
    <label>
      Event Description
      <small>(Uses <a href="https://www.markdownguide.org/basic-syntax/">markdown</a>)</small>
      <textarea name="description" required></textarea>
    </label>
    <label>
      Lock signup forever?
      <small>Usually no, unless it's a draft</small>
      <input type="checkbox" name="lock_signup" />
    </label>
    <input type="submit" value="Submit" />
  </form>
{% endblock platform %}
