{% extends "platform/base.html.j2" %}
{% block content %}
  <dialog id="selectedEvent" autofocus>
    {% set is_dialog = True %}
    {% include "platform/_event.html.j2" %}
  </dialog>
  <script>document.getElementById('selectedEvent').showModal()</script>
{% endblock content %}
