{% extends "platform/base.html.j2" %}
{% block platform %}
  <dialog id="selectedEvent">
    <a href="{{ url_for('.events', _anchor=event.slug) }}">< Return to Events</a>
    {% include "platform/_event.html.j2" %}
  </dialog>
  <script>document.getElementById('selectedEvent').showModal()</script>
{% endblock platform %}
