{% from "platform/_profile.html.j2" import profile_picture, badge %}
{% extends "platform/base.html.j2" %}
{% macro attending_user(att_user, user) %}
  <li class="attending-user">
    {{ profile_picture(user, '32') }}
    {{ user.full_name }}
  </li>
{% endmacro %}
{% block platform %}
  {% if g.current_user.is_site_admin %}
    <a href="{{ url_for('platform.edit_event') }}" class="button">Create Event</a>
  {% endif %}
  <form>
    <input type="search" name="search" placeholder="Search for an event..." />
    <label>
      Event Types
      <select multiple name="types">
        <option>TODO</option>
      </select>
    </label>
  </form>
  <section>
    {% for event in events %}
      <article id="{{ event.id }}" class="event">
        <header>
          <div class="event-date">
            <p>{{ event.event_dt.strftime("%A") }}</p>
            <h2>{{ event.event_dt.strftime("%d") }}</h2>
            <p>{{ event.event_dt.strftime("%b %Y") }}</p>
          </div>
          <div>
            <h1>{{ event.title }}</h1>
            {{ badge(event.event_type.name) }}
            {% if event.is_members_only %}{{ badge("Members Only") }}{% endif %}
            {% if event.event_end_dt %}
              <em>{{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }} ⇒ {{ event.event_end_dt.strftime("%A, %b %d, %Y, %H:%M") }}</em>
            {% else %}
              <em>{{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }}</em>
            {% endif %}
          </div>
        </header>
        <div class="event-description">{{ event.description | markdown | safe }}</div>
        {% set evt_attendees = attendees[event.id] | sort(attribute='joined_at_utc') %}
        {% set total = evt_attendees | length %}
        {% set total_wait = evt_attendees | map(attribute='is_waiting_list') | sum %}
        <details>
          <summary>
            <span>Attendees ({{ total - total_wait }} total, {{ event.max_attendees if event.max_attendees > 0 else 'no' }} max)</span>
            {% for attendee in evt_attendees if not attendee.is_waiting_list %}
              {{ profile_picture(members[attendee.user_id], '32') }}
            {% endfor %}
          </summary>
          <ul>
            {% for attendee in evt_attendees if not attendee.is_waiting_list %}
              {{ attending_user(attendee, members[attendee.user_id]) }}
            {% else %}
              <li>No attendees yet!</li>
            {% endfor %}
          </ul>
        </details>
        <details>
          <summary>
            <span>Waiting List ({{ total_wait }} total)</span>
            {% for attendee in evt_attendees if attendee.is_waiting_list %}
              {{ profile_picture(members[attendee.user_id], '32') }}
            {% endfor %}
          </summary>
          <ul>
            {% for attendee in evt_attendees if attendee.is_waiting_list %}
              {{ attending_user(attendee, members[attendee.user_id]) }}
            {% else %}
              <li>No waiting list yet!</li>
            {% endfor %}
          </ul>
        </details>
        <form method="post"
              action="{{ url_for('platform.attend_event', id=event.id) }}">
          {% if g.current_user.id in (evt_attendees | map(attribute='user_id') | list) %}
            <input type="submit" name="leave" value="Leave" />
          {% else %}
            <input type="submit" name="attend" value="Attend" />
          {% endif %}
        </form>
      </article>
    {% endfor %}
  </section>
{% endblock platform %}
