{% from 'macros/bi.html.j2' import bi_person_square, bi_calendar_heart, bi_discord, bi_pencil_square %}
{% extends "platform/base.html.j2" %}
{% block stylesheets %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/info.css') }}?v=1.0" />
{% endblock stylesheets %}
{% block content %}
  <header>
    <img src="{{ url_for('static', filename='logo_256.png') }}"
         width="183"
         alt="CMC logo"
         height="100" />
    <h1>Welcome to Clyde Mountaineering Club!</h1>
  </header>
  <section>
    <h1>New to the club?</h1>
    <div class="steps">
      <a class="step color-discord" href="https://discord.gg/98K3CafRxk">
        <article>
          <span class="step-title">
            <h2>Step 1</h2>
            {{ bi_discord() }}
          </span>
          <p>Join our Discord server</p>
          <small>We use it for everything!</small>
        </article>
      </a>
      <a class="step"
         href="{{ url_for('.members.member', slug=g.current_user.slug) }}">
        <article>
          <span class="step-title">
            <h2>Step 2</h2>
            {{ bi_person_square() }}
          </span>
          <p>Update your profile</p>
          <small>A photo helps so we can spot you!</small>
        </article>
      </a>
      <a class="step color-guest"
         href="{{ url_for('.events.events_calendar') }}">
        <article>
          <span class="step-title">
            <h2>Step 3</h2>
            {{ bi_calendar_heart() }}
          </span>
          <p>Try an event</p>
          <small>As a non-member you can attend up to 4 events.</small>
        </article>
      </a>
      <a class="step color-member" href="{{ url_for('.join') }}">
        <article>
          <span class="step-title">
            <h2>Step 4</h2>
            {{ bi_pencil_square() }}
          </span>
          <p>Join the club</p>
          <small>MScot membership, discounts, kit library, hut access and more...</small>
        </article>
      </a>
    </div>
    <small>
      Please note that we wish to avoid the number of prospective members getting too large - if you haven't joined the club within three months, your account will be deactivated and you will lose access to Discord.
    </small>
  </section>
  <section>
    <h1>How do events work?</h1>
    <a href="{{ url_for('platform.home', page='day-walks') }}">
      <article class="event-detail color-summer-day-walk">
        <h2>Day Walks</h2>
        <div>{{ bullet_pages['day-walks'] | markdown | safe }}</div>
      </article>
    </a>
    <a href="{{ url_for('platform.home', page='hut-weekends') }}">
      <article class="event-detail color-summer-weekend">
        <h2>Hut Trips</h2>
        <div>{{ bullet_pages['hut-weekends'] | markdown | safe }}</div>
      </article>
    </a>
    <a href="{{ url_for('platform.home', page='climbing') }}">
      <article class="event-detail color-indoor-climbing">
        <h2>Indoor Climbing</h2>
        <div>{{ bullet_pages['indoor-climbing'] | markdown | safe }}</div>
      </article>
    </a>
    <a href="{{ url_for('platform.home', page='climbing') }}">
      <article class="event-detail color-outdoor-climbing">
        <h2>Outdoor Climbing</h2>
        <div>{{ bullet_pages['outdoor-climbing'] | markdown | safe }}</div>
      </article>
    </a>
    <a href="{{ url_for('platform.home', page='running') }}">
      <article class="event-detail color-running">
        <h2>Trail Running</h2>
        <div>{{ bullet_pages['running'] | markdown | safe }}</div>
      </article>
    </a>
    <article class="event-detail color-winter-weekend">
      <h2>Winter</h2>
      <div>{{ bullet_pages['winter'] | markdown | safe }}</div>
    </article>
    <article class="event-detail color-social">
      <h2>Social</h2>
      <div>{{ bullet_pages['socials'] | markdown | safe }}</div>
    </article>
  </section>
  <section>
    <h1>Club Feedback</h1>
    <p>
      We are always happy to hear feedback and ideas. Either let us know by bringing up issues in the Discord, speaking privately to one of our committee members, or if you'd like to give feedback anonymously, use the link below.
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScz6Fn6l1XVN-G2VEz6e9mJG-_EqftuFrs_CmZbs6UtEYqw6A/viewform?usp=sf_link"
       class="button">Give Feedback</a>
  </section>
{% endblock content %}
