{% from "platform/_profile.html.j2" import profile_picture %}
{% extends "platform/base.html.j2" %}
{% block platform %}
  {% if g.current_user.id == user.id %}
    <a href="{{ url_for('platform.edit_member', id=user.id) }}">Edit Profile</a>
  {% endif %}
  <h1>{{ user.full_name }}</h1>
  {{ profile_picture(user, "256") }}
  <hgroup>
    <h2>About</h2>
    {{ user.about | markdown | safe }}
  </hgroup>
{% endblock platform %}
