{% extends "platform/base.html.j2" %}
{% block platform %}
  <h1>Page Editor</h1>
  {% if message %}<p role="alert">{{ message }}</p>{% endif %}
  <p>You can edit any of the text on club pages below.</p>
  {% for page in pages %}
    <details {{ 'open' if preview and preview.name == page.name }}>
      <summary>{{ page.description }} ({{ page.name }}, v{{ page.version }})</summary>
      <form method="post" id="{{ page.id }}">
        <input type="hidden" name="name" value="{{ page.name }}" />
        <label>
          Description
          <small>(This probably doesn't need changing often)</small>
          <input type="text" name="description" value="{{ page.description }}" />
        </label>
        <label>
          Text
          <small>(Uses <a href="https://www.markdownguide.org/basic-syntax/">markdown</a>)</small>
          <textarea name="markdown">{{ preview.markdown if preview and preview.name == page.name else page.markdown }}</textarea>
        </label>
        {% if preview and preview.name == page.name %}
          <label>Preview</label>
          <input type="submit" class="btn-secondary" value="Update" name="preview">
          <div class="markdown-preview">{{ preview.markdown | markdown | safe }}</div>
        {% else %}
          <input type="submit" class="btn-secondary" value="Preview" name="preview">
        {% endif %}
        <input type="submit" value="Update Page" name="edit">
      </form>
    </details>
  {% endfor %}
  <p>The below is for the use of the website admin only.</p>
  <details>
    <summary>Create a new page</summary>
    <p>This can be used to create a new page - but the website admin still needs to link up the content.</p>
    <form method="post">
      <label>
        Page Name
        <small>(This id will be used for linking later, and needs to be unique)</small>
        <input type="text" name="name" />
      </label>
      <label>
        Short Description
        <small>(This can be helpful for context)</small>
        <input type="text" name="description" />
      </label>
      <label>
        Page Text
        <textarea name="markdown"></textarea>
      </label>
      <input type="submit" value="Create New Page" name="new">
    </form>
  </details>
  <details>
    <summary>Alter a page name</summary>
    <p>Be really sure you know what you're doing!</p>
    <form method="post">
      <label>
        Current Page Name
        <input type="text" name="old_name" />
      </label>
      <label>
        New Page Name
        <input type="text" name="new_name" />
      </label>
      <input type="submit" value="Change Name" name="update_name">
    </form>
  </details>
{% endblock platform %}
