{% extends "platform/base.html.j2" %}
{% block platform %}
  <section>
    {% for album in albums %}
      <a href="{{ url_for('platform.album', id=album.id) }}">
        <article class="card">
          <hgroup>
            <h3>{{ album.name }}</h3>
            {% if album.event_date %}
              <small>{{ album.event_date.strftime("%A, %B %-d %Y") }}</small>
            {% endif %}
          </hgroup>
        </article>
      </a>
    {% endfor %}
  </section>
{% endblock platform %}
