@layer default, navigation, components;

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  --primary: rgb(13, 148, 136);
  --text: #212121;
  --text-white: #ededed;
  --error: pink;
  --bg: #ffffff;
  --text-light: #585858;
  --text-badge: var(--text-white);
  --border: #dddddd;
  --accent: #3b82f6;
  --accent-hover: rgb(from var(--accent) r g b / 0.6);
  --accent-text: #ededed;
  --disabled: #efefef;
  --cancel: var(--disabled);

  --cmc-highlight: #f472b6;
  --cmc-color-committee: rgb(192, 132, 252);
  --cmc-color-coordinator: rgb(251, 146, 60);
  --cmc-color-member: #3b82f6;
  --cmc-color-guest: #4ade80;
  --cmc-color-summer-day-walk: #4ade80;
  --cmc-color-summer-weekend: #15803d;
  --cmc-color-winter-day-walk: #3b82f6;
  --cmc-color-winter-weekend: #1d4ed8;
  --cmc-color-indoor-climbing: #c084fc;
  --cmc-color-outdoor-climbing: #9333ea;
  --cmc-color-run: #eab308;
  --cmc-color-other: #f472b6;
}

@layer default {
  /* Set border-box for whole doc */
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }

  body {
    color: var(--text);
    background-color: var(--bg);
    font-size: 1rem;
    line-height: 1.5em;

    /* Make the body centered, using 3-col grid */
    display: grid;
    grid-template-columns: 1fr min(60rem, 90%) 1fr;
    margin: 0;

    /* Center all content */
    > * {
      grid-column: 2;
    }

    /* Except the header */
    > header {
      border-bottom: 2px solid var(--primary);
      grid-column: 1 / -1;
      text-align: center;
    }

    /* And any non-header nav as a sidebar */
    > aside {
      grid-column: 1;
      text-align: right;
    }
  }

  header {
    margin-bottom: 1.5rem;
  }

  body > footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--border);
  }

  /* Headings */
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  h3 {
    font-size: large;
  }

  h4 {
    font-size: medium;
  }

  h5 {
    font-size: small;
  }

  h6 {
    font-size: x-small;
  }

  p {
    margin: 1.5rem 0;
  }

  /* Prevent long strings from overflowing container */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Links and buttons */
  a,
  a:visited {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.1s ease-in;

    &:hover {
      text-decoration: underline;
    }

    &:has(article) {
      color: inherit;

      &:hover {
        text-decoration: none;
        filter: brightness(90%);
      }
    }
  }

  button,
  .button,
  a.button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: var(--accent-text);
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    line-height: normal;
  }

  .button[aria-disabled="true"],
  input:disabled,
  textarea:disabled,
  select:disabled,
  button[disabled] {
    cursor: not-allowed;
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--text-light);
  }

  button:enabled:hover,
  .button:not([aria-disabled="true"]):hover,
  input[type="submit"]:enabled:hover,
  input[type="reset"]:enabled:hover,
  input[type="button"]:enabled:hover {
    transition: all 0.1s ease-in;
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
    cursor: pointer;
  }

  .button:focus-visible,
  button:focus-visible:where(:enabled),
  input:enabled:focus-visible:where(
      [type="submit"],
      [type="reset"],
      [type="button"]
    ) {
    outline: 2px solid var(--accent);
    outline-offset: 1px;
  }

  /* Reset input styling for forms */

  textarea,
  select,
  input,
  button,
  .button {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: var(--standard-border-radius);
    box-shadow: none;
    max-width: 100%;
  }

  textarea,
  select,
  input {
    color: var(--text);
    background-color: var(--bg);
    border: 1px solid var(--border);
  }

  input:user-invalid {
    border: 1px solid var(--error);
  }

  label {
    display: block;

    > :is(
        input[type="text"],
        input[type="datetime-local"],
        input[type="number"],
        textarea
      ) {
      width: 100%;
    }

    &:has(input[required])::before {
      content: "*";
    }
    &:has(input[disabled]) {
      opacity: 50%;
    }
  }

  textarea:not([cols]) {
    width: 100%;
    height: 20em;
  }

  input[type="search"] {
    width: 100%;
  }

  fieldset {
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;

    label {
      flex-grow: 1;
    }
  }

  /* Other elements */
  section {
    margin-bottom: 1em;
  }

  mark {
    outline: 1px solid var(--primary);
    background-color: inherit;
    font-weight: 500;
    padding: 0.15em 0.35em;
    border-radius: var(--standard-border-radius);
  }

  small {
    color: var(--text-light);
  }

  strong.error {
    background-color: var(--error);
    border-radius: var(--standard-border-radius);
    padding: 0.5em;
  }

  details {
    > summary {
      cursor: pointer;
      display: block;
    }
  }

  /* Use articles as basic cards */
  article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;

    /** Nice outline **/
    border-radius: var(--standard-border-radius);
    border: 1px solid var(--border);
    background-color: var(--bg);
    filter: drop-shadow(1px 1px 2px var(--border));
    filter: drop-shadow(-1px -1px 2px var(--border));

    > header {
      margin: 0;
    }
  }
}

@layer navigation {
  nav {
    ul,
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul ul {
      font-size: small;
    }

    ul li,
    ol li,
    a {
      display: inline-block;
    }

    a,
    a:visited {
      color: inherit;
    }
  }

  body > header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
    gap: 0.5rem;
    padding: 0 1rem 0 1rem;
    line-height: 1;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.25em;
      letter-spacing: -0.025em;
      margin-right: 1em;
    }

    nav ul,
    nav ol,
    aside {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    aside {
      margin-left: auto;

      a {
        color: inherit;
      }
    }
  }
  /* Sidebar */
  aside > nav {
    padding: 0 1rem 0 1rem;

    :is(a, a:visited) {
      color: var(--primary);
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: right;
    }

    ul ul,
    ol ol {
      gap: 0.1rem;
    }

    /* Style active links for final layer only */
    ul:not(:has(ul)) :is(a, a:visited)[aria-selected="true"] {
      text-decoration: underline;
    }
  }
}

@layer components {
  /* Utility classes */
  .flex {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .float-right {
    float: right;
  }

  .btn-cancel {
    background-color: var(--bg);
    color: var(--accent);
  }
  /* CMC Logo (for nav) */
  .cmc-logo::before {
    content: "";
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    background-image: url("logo_256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  /* Badges */
  .badge {
    background-color: var(--cmc-highlight);
    border-radius: var(--standard-border-radius);
    padding: 0.25em 0.5em;
    text-align: center;
    color: var(--text-badge);
  }
  .color-committee {
    --cmc-highlight: var(--cmc-color-committee);
  }
  .color-coordinator {
    --cmc-highlight: var(--cmc-color-coordinator);
  }
  .color-member {
    --cmc-highlight: var(--cmc-color-member);
  }
  .color-guest {
    --cmc-highlight: var(--cmc-color-guest);
  }
  .color-summer-day-walk {
    --cmc-highlight: var(--cmc-color-summer-day-walk);
  }
  .color-summer-weekend {
    --cmc-highlight: var(--cmc-color-summer-weekend);
  }
  .color-winter-day-walk {
    --cmc-highlight: var(--cmc-color-winter-day-walk);
  }
  .color-winter-weekend {
    --cmc-highlight: var(--cmc-color-winter-weekend);
  }
  .color-indoor-climbing {
    --cmc-highlight: var(--cmc-color-indoor-climbing);
  }
  .color-outdoor-climbing {
    --cmc-highlight: var(--cmc-color-outdoor-climbing);
  }
  .color-running {
    --cmc-highlight: var(--cmc-color-run);
  }
  .color-members-only {
    --cmc-highlight: var(--cmc-color-member);
  }

  .admin {
    --accent: var(--cmc-color-committee);
    color: var(--cmc-color-committee);
    background-color: white;
    opacity: 50%;
    border-radius: var(--standard-border-radius);
    filter: drop-shadow(1px 1px 1px var(--cmc-color-committee));
    padding: 1em;

    position: relative;

    div {
      position: absolute;
      top: 2em;
      left: 1em;
      background-color: white;
      width: max-content;
      border-radius: var(--standard-border-radius);
      padding: 2em;
      display: flex;
      flex-direction: column;
    }

    summary {
      font-weight: bold;
    }

    &[open] {
      opacity: 100%;
    }
  }

  /* Profile pictures maintain aspect */
  .profile-picture {
    display: inline-block;
    margin: 0;
    aspect-ratio: 1;
    border-radius: var(--standard-border-radius);
  }

  #members {
    --member-width: 160px;
    display: grid;
    justify-content: space-between;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, var(--member-width));
    align-items: stretch;

    /* Make sure no member names overlap */
    article :is(h1, h2, h3, h4, h5, h6) {
      padding: 0 0.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .event {
    padding: 1em;
    margin: 2em 0 2em 0;
    filter: none;
    header {
      padding-bottom: 0.25em;
      h1 {
        letter-spacing: -0.04em;
        margin: 0 0 0.25em 0;
        font-size: x-large;
        color: var(--primary);

        a {
          color: inherit;
        }
      }
      .badge {
        margin-right: 0.25em;
      }
      p {
        /* Calendar icon before (BI) */
        &::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-calendar' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
        }
        font-weight: 500;
        margin: 0;
        padding-top: 0.5rem;
        display: block;
      }

      .admin {
        margin-left: auto;
      }
    }

    .event-description {
      margin-bottom: 1em;

      /* Make the description open on click */
      > summary {
        max-height: 15em;
        transition: max-height ease-in-out 0.2s;
        overflow: clip;
      }
      &[open] > summary {
        max-height: 500rem;
      }

      /* Set up the fade if not expanded */
      > summary {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(
          to bottom,
          var(--text) 0%,
          #cccccc 15em
        );
      }
      &[open] > summary {
        background-image: none;
        background-color: var(--text);
      }
    }

    details.attendees {
      margin-bottom: 1em;
      summary {
        display: block;
        font-weight: 500;
        font-size: 1em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    details[open] .attendees-summary {
      display: none;
    }

    .attending-user {
      display: flex;
      align-items: center;
      gap: 0.125em;
    }
  }

  .event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px gray solid;
    border-top: 8px gray solid;
    border-radius: 5px;
    padding: 0.25em 0.5em;

    > span {
      font-size: medium;
      margin: 0;
      padding: 0;
    }
    > span:nth-child(2) {
      font-size: xx-large;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }

  .events-calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
