{% from "macros/profile.html.j2" import profile_picture %}
{% from "macros/theme.html.j2" import badge %}
{% from 'macros/bi.html.j2' import bi_discord %}
{% extends "members/base.html.j2" %}
{% block content %}
  <div id="member-profile">
    <header>
      {{ profile_picture(user, "256") }}
      <hgroup class="member-header">
        <h1>
          {{ user.full_name }}
          {% if g.current_user.id == user.id %}<a href="{{ url_for('.edit_member', id=user.id) }}">Edit</a>{% endif %}
        </h1>
        {% if g.current_user.is_site_admin %}
          <details class="admin">
            <summary>Admin</summary>
            <article class="admin-panel">
              {# Update this for a new year #}
              {% set member_expiry = "2025-03-31" %}
              <form method="post">
                <input type="hidden" name="membership_expiry" value="{{ member_expiry }}" />
                <input type="submit" value="Set Member ({{ member_expiry }})" />
              </form>
              <form method="post">
                <input type="hidden" name="membership_expiry" value="" />
                <input type="submit" value="Remove Member" />
              </form>
              <form method="post">
                <input type="hidden"
                       name="is_coordinator"
                       value="{{ not user.is_coordinator }}" />
                <input type="submit" value="Toggle Coordinator" />
              </form>
              <form method="post">
                <input type="hidden"
                       name="is_winter_skills"
                       value="{{ not user.is_winter_skills }}" />
                <input type="submit" value="Toggle Winter Skills" />
              </form>
              <a class="button" href="{{ url_for('.committee_edit', id=user.id) }}">Edit Committee Details</a>
              {% if user.mobile %}
                <mark>Mobile: {{ user.mobile }}</mark>
              {% else %}
                <mark>Mobile: <small>No mobile found</small></mark>
              {% endif %}
              <mark>Email: {{ user.email }}</mark>
              {% if user.membership_expiry %}
                <mark>Member until: {{ user.membership_expiry.strftime("%Y-%m-%d") }}</mark>
              {% endif %}
              <mark>Last login: {{ user.last_login_utc }}</mark>
            </article>
          </details>
        {% endif %}
        <mark class="discord">
          {{ bi_discord() }}
          {% if discord_name %}
            {{ discord_name }}
          {% else %}
            <small>Not found on Discord</small>
          {% endif %}
          {% if user.id == g.current_user.id %}
            <a href="{{ url_for('.member_discord', slug=user.slug) }}"
               class="button">Change</a>
          {% elif g.current_user.is_site_admin %}
            <a href="{{ url_for('.member_discord', slug=user.slug) }}"
               class="button admin">Change</a>
          {% endif %}
        </mark>
        <div class="member-badges">
          {% if user.is_committee %}{{ badge("committee") }}{% endif %}
          {% if user.is_coordinator %}{{ badge("coordinator") }}{% endif %}
          {% if user.is_member %}{{ badge("member") }}{% endif %}
          {% if user.is_winter_skills %}<span class="badge color-winter-weekend">❄️</span>{% endif %}
        </div>
      </hgroup>
    </header>
    <section>
      <h2>About</h2>
      {% if user.about %}
        {{ user.about | markdown | safe }}
      {% else %}
        <small>No bio found!</small>
      {% endif %}
    </section>
    <section class="member-attended-events">
      <h2>Attended Events</h2>
      {% if attended %}
        <ul>
          {% for event in attended[:num_attended] %}
            <li>
              <a href="{{ url_for('platform.events.event', id=event.id) }}">{{ event.title }}</a>
              <span>{{ event.event_dt.strftime("%A, %b %-d %Y") }}</span>
            </li>
          {% endfor %}
        </ul>
        {% if num_attended < attended | length %}
          <form>
            <input type="hidden" name="num_attended" value="{{ num_attended * 10 }}" />
            <button type="submit">Show more (showing {{ num_attended }} / {{ attended | length }})</button>
          </form>
        {% endif %}
      {% else %}
        <small>No events yet!</small>
      {% endif %}
    </section>
  </div>
{% endblock content %}
