{% from "macros/profile.html.j2" import profile_picture %}
{% from "macros/theme.html.j2" import badge %}
{% extends "members/base.html.j2" %}
{% block content %}
  <form>
    <input type="search"
           name="search"
           hx-get="{{ url_for('.members') }}"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           hx-target="#members"
           hx-select="#members"
           hx-swap="outerHTML"
           placeholder="Enter name to search..."
           value="{{ search if search else '' }}" />
  </form>
  <section id="members">
    {% for member in members[:limit] %}
      <a href="{{ url_for('.member', slug=member.slug) }}">
        <article class="card member">
          <header>
            {{ profile_picture(member, "160") }}
          </header>
          <h4>{{ member.full_name }}</h4>
          {% if member.is_committee %}
            {{ badge("committee") }}
          {% elif member.is_coordinator %}
            {{ badge("coordinator") }}
          {% elif member.is_member %}
            {{ badge("member") }}
          {% else %}
            {{ badge("guest") }}
          {% endif %}
        </article>
      </a>
    {% else %}
      <em>No users found!</em>
    {% endfor %}
    {% if (members | length) > limit %}
      <form>
        <input type="hidden" name="limit" value="{{ limit * 5 }}" />
        {# Infinite scroll #}
        <input type="submit"
               hx-get="{{ url_for('.members', limit=limit + 25) }}"
               hx-target="#members"
               hx-trigger="intersect once"
               hx-select="#members"
               hx-swap="outerHTML"
               value="Show more (showing {{ limit }} / {{ members | length }})" />
      </form>
    {% endif %}
  </section>
{% endblock content %}
