{% from "macros/bi.html.j2" import bi_calendar, bi_arrow_clockwise %}
{% from "macros/theme.html.j2" import badge, color_class %}
{% from "macros/profile.html.j2" import profile_picture %}
<article id="{{ event.slug }}"
         hx-target="this"
         hx-swap="outerHTML show:top settle:0.5s"
         class="event card{{ ' event-past' if not event.is_upcoming() }}">
  {% if request.args.pay_success %}<p role="status">Payment successful! Thank you :)</p>{% endif %}
  {% if request.args.pay_cancel %}<p role="alert">Payment was cancelled!</p>{% endif %}
  <header>
    <div class="event-date">
      <span>{{ event.event_dt.strftime("%A") }}</span>
      <span>{{ event.event_dt.strftime("%-d") }}</span>
      <span>{{ event.event_dt.strftime("%b %Y") }}</span>
    </div>
    <div class="event-title">
      <div class="event-heading">
        <a hx-disable="true" href="{{ url_for('.event', id=event.id) }}">
          <h1>{{ event.title }}</h1>
        </a>
        <a class="button event-refresh-button"
           data-tooltip="Refresh"
           href="{{ url_for('.event', id=event.id) }}"
           hx-get="{{ url_for('.event', id=event.id) }}">{{ bi_arrow_clockwise() }}</a>
      </div>
      {{ badge(event.event_type.name) }}
      {% if event.is_members_only %}{{ badge("Members Only") }}{% endif %}
      {% if event.event_end_dt %}
        <p>
          {{ bi_calendar() }} {{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }} 🡪 {{ event.event_end_dt.strftime("%A, %b %d, %Y, %H:%M") }}
        </p>
      {% else %}
        <p>{{ bi_calendar() }} {{ event.event_dt.strftime("%A, %b %d, %Y, %H:%M") }}</p>
      {% endif %}
    </div>
    {% if g.current_user.is_site_admin %}
      <details class="admin">
        <summary>Admin</summary>
        <article class="admin-panel">
          <a class="button" href="{{ url_for('.edit_event', id=event.id) }}">Edit event</a>
          <a class="button"
             href="{{ url_for('.edit_event', copy_from=event.id) }}">Copy event</a>
          <a class="button"
             hx-get="{{ url_for('.discord_names', event_id=event.id) }}"
             hx-swap="afterend"
             href="{{ url_for('.discord_names', event_id=event.id) }}">Discord Usernames</a>
          <form method="post"
                hx-post="{{ url_for('.event', id=event.id) }}"
                hx-confirm="Are you sure you want to delete {{ event.title }}?"
                hx-swap="delete settle:0.5s"
                action="{{ url_for('.event', id=event.id) }}">
            <input type="hidden" name="method" value="DELETE" />
            <input type="submit" value="Delete event" />
          </form>
        </article>
      </details>
    {% endif %}
  </header>
  {# Tiny bit of javascript to handle expansion of the description #}
  <section class="event-description {{ color_class(event.event_type.name) }}"
    {# djlint:off #}
           _="init measure my height then if height > 240
              then 
                add .event-description-retracted to me 
              end
              on click if I match .event-description-retracted or .event-description-expanded 
                then toggle between .event-description-expanded and .event-description-retracted on me 
              ">
    {# djlint:on #}
    {{ event.description | markdown | safe }}
  </section>
  <section class="event-all-attendees">
    {% include "events/event._attendees.html.j2" %}
  </section>
</article>
