{# these are in ascending order for future, followed by descending for past #}
{% if not offset %}
  {% set offset = 0 %}
{% endif %}
{% for event in events[offset:offset+limit] %}
  {% if not event.is_upcoming() and events[offset + loop.index0 - 1].is_upcoming() %}<h1>Past Events</h1>{% endif %}
  {% include "events/_event.html.j2" %}
  {% if loop.last and loop.index0 != (events | length) %}
    <a class="button"
       id="show-more-events"
       hx-target="this"
       hx-get="{{ url_for('.events', limit=10, after=event.id) }}"
       hx-swap="outerHTML"
       hx-trigger="click, intersect once"
       href="{{ url_for('.events', limit=limit+10, _anchor=event.slug) }}">Show More</a>
  {% endif %}
{% endfor %}
