{# these are in ascending order for future, followed by descending for past #}
{% if not offset %}
  {% set offset = 0 %}
{% endif %}
{% for event in events[offset:offset+limit] %}
  {% if not event.is_upcoming() and events[offset + loop.index0 - 1].is_upcoming() %}<h1>Past Events</h1>{% endif %}
  {% with attendees = event_attendees[event.id], members=members %}
    {% include "events/_event.html.j2" %}
  {% endwith %}
  {% if loop.last and loop.index0 != (events | length) %}
    <form method="get"
          action="{{ url_for('.events', _anchor=event.slug) }}"
          id="show-more-events"
          hx-target="this"
          hx-get="{{ url_for('.events', after=event.id) }}"
          hx-trigger="submit, intersect once"
          hx-swap="outerHTML">
      {# Make sure we preserve filtering #}
      {% if filters_enabled %}
        <input type="hidden" name="filters_enabled" value="on" />
        {% for event_type in event_type_set %}
          {% if event_type in event_types %}<input type="hidden" name="event_type" value="{{ event_type.value }}" />{% endif %}
        {% endfor %}
      {% endif %}
      <input type="hidden" name="limit" value="{{ limit + 10 }}" />
      <input type="submit" value="Show More" />
    </form>
  {% endif %}
{% else %}
  <p role="status">No events found - are you using filters?</p>
{% endfor %}
