{% extends "platform/base.html.j2" %}
{% block content %}
  <h1>Adding attendee for {{ event.title }}</h1>
  {# Disable HTMX parsing here #}
  <ul class="attendee-adder" hx-disable>
    {% include "events/admin._addattend.html.j2" %}
  </ul>
{% endblock content %}
