{% extends "platform/base.html.j2" %}
{% block content %}
  <h1>Adding attendee for {{ event.title }}</h1>
  <ul class="attendee-adder">
    {% include "events/admin._addattend.html.j2" %}
  </ul>
{% endblock content %}
