{% extends "platform/base.html.j2" %}
{% block content %}
  <span><a hx-boost="true" href="{{ url_for('.events') }}">Events</a> > {{ event.title }} </span>
  {% include "events/_attend.html.j2" %}
{% endblock content %}
