{% from "macros/profile.html.j2" import profile_picture %}
{% from "macros/theme.html.j2" import badge, color_class %}
{% extends "platform/base.html.j2" %}
{% block content %}
  <div class="calendar-controls"
       hx-target="main"
       hx-select="main"
       hx-indicator="#events-calendar"
       hx-swap="outerHTML swap:0.2s settle:0.2s">
    <a hx-get="{{ url_for('.events_calendar', year=prev_month_dt.year, month=prev_month_dt.month) }}"
       href="{{ url_for('.events_calendar', year=prev_month_dt.year, month=prev_month_dt.month) }}">< {{ prev_month_dt.strftime("%B %Y") }}</a>
    <h3>{{ month_dt.strftime("%B %Y") }}</h3>
    <a hx-get="{{ url_for('.events_calendar', year=next_month_dt.year, month=next_month_dt.month) }}"
       href="{{ url_for('.events_calendar', year=next_month_dt.year, month=next_month_dt.month) }}">{{ next_month_dt.strftime("%B %Y") }} ></a>
  </div>
  <table id="events-calendar">
    <thead>
      <tr>
        {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
          <th scope="col">{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for day_dt in days %}
          <td class="events-calendar-day{{ ' not-month' if day_dt.month != month_dt.month }}{{ ' is-today' if day_dt.month == today.month and day_dt.day == today.day }}">
            <h4>{{ day_dt.day }}</h4>
            {% for event in events %}
              {% if event.is_happening_on(day_dt) %}
                <a href="{{ url_for('.event', id=event.id) }}">
                  <article class="calendar-event {{ color_class(event.event_type.name) }}{{ ' calendar-event-draft' if event.is_draft }}">
                    {% if event.event_dt.date() == day_dt %}
                      <span>{{ event.event_dt.strftime("%H:%M") }}</span>
                    {% elif event.event_dt.date() < day_dt and event.event_end_dt and event.event_end_dt.date() > day_dt %}
                      <span>All Day</span>
                    {% elif event.event_end_dt and event.event_end_dt.date() == day_dt %}
                      <span>{{ event.event_end_dt.strftime("%H:%M") }}</span>
                    {% endif %}
                    <span>{{ '[DRAFT] ' if event.is_draft }}{{ event.title }}</span>
                  </article>
                </a>
              {% endif %}
            {% endfor %}
          </td>
          {% if loop.index % 7 == 0 %}
          </tr>
          <tr>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock content %}
