{% from "macros/theme.html.j2" import color_class %}
{% import "macros/bi.html.j2" as bi %}
{% extends "platform/base.html.j2" %}
{% block content %}
  <form hx-target="#event-list"
        hx-select="#event-list"
        hx-swap="outerHTML settle:0.2s"
        hx-push-url="true"
        hx-get="{{ url_for('.events') }}"
        hx-trigger="change">
    <input type="search"
           name="search"
           hx-get="{{ url_for('.events') }}"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           placeholder="Search for an event..."
           value="{{ search if search else '' }}" />
    <label id="enable-filters-checkbox">
      {{ bi.bi_filter() }}
      Filters
      <input id="event-filters-enabled" type="checkbox" name="filters_enabled" />
    </label>
    <label id="event-filters-list">
      Event Types
      <fieldset>
        {% for event_type in event_type_set %}
          <label class="event-filter color-{{ color_class(event_type.name) }}">
            {{ event_type.name | replace('_', ' ') | lower | title }}
            {% if filters_enabled and event_type in event_types %}
              <input type="checkbox"
                     name="event_type"
                     value="{{ event_type.value }}"
                     checked />
            {% else %}
              <input type="checkbox" name="event_type" value="{{ event_type.value }}" />
            {% endif %}
          </label>
        {% endfor %}
      </fieldset>
    </label>
    <noscript>
      <input type="submit" value="Update" \>
    </noscript>
  </form>
  {% if g.current_user.is_site_admin %}
    <form class="admin" action="{{ url_for('.edit_event') }}">
      <label for="event_template">
        Event Template
        <select name="template" id="event_template">
          {% for event_type in event_type_set %}
            <option value="{{ event_type.value }}">{{ event_type.name | replace('_', ' ') | lower | title }}</option>
          {% endfor %}
          <option value="">No Template</option>
        </select>
      </label>
      <input type="submit" value="Add new event" />
    </form>
  {% endif %}
  <section id="event-list">
    {% include "events/_event.list.html.j2" %}
  </section>
{% endblock content %}
