{% from 'events/macros.attendees.html.j2' import attendee_list %}
{% from 'macros/bi.html.j2' import bi_cash_coin, bi_layer_backward, bi_layer_forward, bi_x_square_fill %}
{% set all_evt_attendees = attendees | sort(attribute='joined_at_utc') %}
{% set evt_attendees = all_evt_attendees | selectattr('is_waiting_list', 'equalto', False) | list %}
{% set wait_attendees = all_evt_attendees | selectattr('is_waiting_list', 'equalto', True) | list %}
{{ attendee_list(evt_attendees, event, members, is_waiting_list=False) }}
{% if (wait_attendees | length) > 0 %}
  {{ attendee_list(wait_attendees, event, members, is_waiting_list=True) }}
{% endif %}
{% set current_attendee = attendees | selectattr('user_id', 'equalto', g.current_user.id) | first %}
{% if event.is_upcoming() %}
  {% if current_attendee %}
    <form method="post"
          hx-post="{{ url_for('.attendee', event_id=event.id, user_id=g.current_user.id) }}"
          action="{{ url_for('.attendee', event_id=event.id, user_id=g.current_user.id) }}">
      <input type="hidden" name="method" value="DELETE" />
      {% if not current_attendee.is_waiting_list %}
        <input type="submit" class="btn-cancel" value="Leave" />
        {% if event.price_id %}
          {% if not current_attendee.is_trip_paid %}
            <a href="{{ url_for('.pay_event', event_id=current_attendee.event_id) }}"
               hx-get="{{ url_for('.pay_event', event_id=current_attendee.event_id) }}"
               class="button">Pay Now</a>
          {% else %}
            <button disabled>You've paid!</button>
          {% endif %}
        {% endif %}
      {% else %}
        <input type="submit" class="btn-cancel" value="Leave Waiting List" />
      {% endif %}
    </form>
  {% else %}
    {% macro attend_button(event) %}
      {% if not event.is_open() %}
        {% set open_str = event.signup_open_dt.strftime('%b %-d, %Y %H:%M') %}
        <input type="button" disabled value="Signup opens at {{ open_str }}" />
      {% elif event.is_locked %}
        <input type="button" disabled value="Signup LOCKED!" />
      {% elif event.is_draft %}
        <input type="button" disabled value="Signup disabled - event is draft!" />
      {% else %}
        {% if event.is_full(attendees) %}
          <input type="submit" value="Join Waiting List" />
        {% else %}
          <input type="submit" value="Attend" />
        {% endif %}
      {% endif %}
    {% endmacro %}
    {% if (event.popups_for(g.current_user) | length) > 0 %}
      <form hx-get="{{ url_for('.attend_event', event_id=event.id) }}"
            action="{{ url_for('.attend_event', event_id=event.id) }}">
        {{ attend_button(event) }}
      </form>
    {% else %}
      <form hx-post="{{ url_for('.attendee', event_id=event.id, user_id=g.current_user.id) }}"
            method="post"
            action="{{ url_for('.attendee', event_id=event.id, user_id=g.current_user.id) }}">
        {{ attend_button(event) }}
      </form>
    {% endif %}
  {% endif %}
{% endif %}
