{% from "macros/theme.html.j2" import color_class %}
{% extends "platform/base.html.j2" %}
{% block content %}
  <form hx-target="#event-list" hx-select="#event-list" hx-swap="outerHTML">
    <details>
      <summary>Event Filters</summary>
      <label>
        Event Types
        <fieldset>
          {% for event_type in event_type_set %}
            <label class="event-filter color-{{ color_class(event_type.name) }}">
              {{ event_type.name | replace('_', ' ') | lower | title }}
              {% if event_type in event_types %}
                <input type="checkbox"
                       name="event_type"
                       value="{{ event_type.value }}"
                       checked />
              {% else %}
                <input type="checkbox" name="event_type" value="{{ event_type.value }}" />
              {% endif %}
            </label>
          {% endfor %}
        </fieldset>
      </label>
      <input type="submit" value="Update" \>
    </details>
  </form>
  <form hx-get="{{ url_for('.events') }}"
        hx-target="#event-list"
        hx-select="#event-list"
        hx-swap="outerHTML">
    <input type="search"
           name="search"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           placeholder="Search for an event..."
           value="{{ search if search else '' }}" />
  </form>
  {% if g.current_user.is_site_admin %}
    <form class="admin flex" action="{{ url_for('.edit_event') }}">
      <label for="event_template">Event Template</label>
      <select name="template" id="event_template">
        {% for event_type in event_type_set %}
          <option value="{{ event_type.value }}">{{ event_type.name | replace('_', ' ') | lower | title }}</option>
        {% endfor %}
        <option value="">No Template</option>
      </select>
      <input type="submit" value="Add new event" />
    </form>
  {% endif %}
  <section id="event-list">
    {% include "events/_event.list.html.j2" %}
  </section>
{% endblock content %}
