{% from 'macros/bi.html.j2' import bi_cash_coin, bi_layer_backward, bi_layer_forward, bi_x_square_fill %}
{% from 'macros/profile.html.j2' import profile_picture %}
{% macro attending_user(att_user, user) %}
  <li class="flex flex-gap-small">
    <a href="{{ url_for('platform.members.member', slug=user.slug) }}"
       class="flex flex-gap-small">
      {{ profile_picture(user, '32') }}
      {% if user.is_committee %}
        {% set color = "color-committee" %}
      {% elif user.is_coordinator %}
        {% set color = "color-coordinator" %}
      {% elif user.is_member %}
        {% set color = "color-member" %}
      {% else %}
        {% set color = "color-guest" %}
      {% endif %}
      <span class="attendee-name {{ color }}">{{ user.full_name }}</span>
    </a>
    {% if att_user.is_trip_paid %}<span>{{ bi_cash_coin() }}</span>{% endif %}
    {% if g.current_user.is_site_admin %}
      <span class="admin flex flex-gap-small">
        <small>({{ user.mobile }})</small>
        <small>ICE: {{ user.in_case_emergency }}</small>
        <form method="post"
              hx-post="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}"
              action="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden"
                 name="is_waiting_list"
                 value="{{ not att_user.is_waiting_list }}" />
          <button type="submit" data-tooltip="Toggle Waiting List">
            {% if att_user.is_waiting_list %}
              {{ bi_layer_forward() }}
            {% else %}
              {{ bi_layer_backward() }}
            {% endif %}
          </button>
        </form>
        <form method="post"
              hx-post="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}"
              action="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="PUT" />
          <input type="hidden"
                 name="is_trip_paid"
                 value="{{ not att_user.is_trip_paid }}" />
          <button type="submit" data-tooltip="Toggle Paid">{{ bi_cash_coin() }}</button>
        </form>
        <form method="post"
              hx-post="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}"
              action="{{ url_for('.attendee', event_id=att_user.event_id, user_id=att_user.user_id) }}">
          <input type="hidden" name="method" value="DELETE" />
          <button type="submit" data-tooltip="Remove User">{{ bi_x_square_fill() }}</button>
        </form>
      </span>
    {% endif %}
  </li>
{% endmacro %}
{% macro attendee_list(attendees, event, user_map, is_waiting_list) %}
  <details class="attendees">
    <summary>
      <span>{{ attendee_title }}</span>
      {% if not is_waiting_list %}
        <span>Attendees ({{ attendees | length }} total, {{ event.max_attendees if event.max_attendees and event.max_attendees > 0 else 'no' }} max)</span>
      {% else %}
        <span>Waiting List ({{ attendees | length }} total)</span>
      {% endif %}
      <div class="attendees-summary">
        {% for attendee in attendees %}
          {{ profile_picture(user_map[attendee.user_id], '32') }}
        {% else %}
          <small>No attendees yet!</small>
        {% endfor %}
      </div>
    </summary>
    <ul>
      {% for attendee in attendees %}
        {{ attending_user(attendee, user_map[attendee.user_id]) }}
      {% else %}
        <li>No attendees yet!</li>
      {% endfor %}
      {% if g.current_user.is_site_admin %}
        <form class="admin"
              action="{{ url_for('.event_attendee_add', event_id=event.id) }}">
          <input type="search"
                 name="search"
                 placeholder="Add a new attendee..."
                 hx-target="next .attendee-adder"
                 hx-swap="innerHTML settle:0.18s swap:0.18s"
                 hx-get="{{ url_for('.event_attendee_add', event_id=event.id) }}"
                 hx-trigger="input changed delay:500ms, keyup[key=='Enter']" />
          <ul class="attendee-adder">
            {# To be HX-populated #}
          </ul>
        </form>
      {% endif %}
    </ul>
  </details>
{% endmacro %}
